In [4]:
import pandas as pd
import numpy as np

In [1]:
naver = pd.read_csv('C:\\dev_python\\project\\data_final\\naver_final.csv', encoding = "CP949")
naver

             날짜       감기
0    2016-01-01  4.27966
1    2016-01-02  4.90676
2    2016-01-03  5.47383
3    2016-01-04  6.40781
4    2016-01-05  6.32109
..          ...      ...
907  2018-06-26  3.91941
908  2018-06-27  3.76263
909  2018-06-28  3.50245
910  2018-06-29  3.23226
911  2018-06-30  3.15220

[912 rows x 2 columns]

In [2]:
list_date = naver.날짜.str.split('-')
list_date

0      [2016, 01, 01]
1      [2016, 01, 02]
2      [2016, 01, 03]
3      [2016, 01, 04]
4      [2016, 01, 05]
            ...
907    [2018, 06, 26]
908    [2018, 06, 27]
909    [2018, 06, 28]
910    [2018, 06, 29]
911    [2018, 06, 30]
Name: 날짜, Length: 912, dtype: object

In [3]:
naver['y'] = list_date.str.get(0)
naver['m'] = list_date.str.get(1)
naver['d'] = list_date.str.get(2)

naver

             날짜       감기     y   m   d
0    2016-01-01  4.27966  2016  01  01
1    2016-01-02  4.90676  2016  01  02
2    2016-01-03  5.47383  2016  01  03
3    2016-01-04  6.40781  2016  01  04
4    2016-01-05  6.32109  2016  01  05
..          ...      ...   ...  ..  ..
907  2018-06-26  3.91941  2018  06  26
908  2018-06-27  3.76263  2018  06  27
909  2018-06-28  3.50245  2018  06  28
910  2018-06-29  3.23226  2018  06  29
911  2018-06-30  3.15220  2018  06  30

[912 rows x 5 columns]

In [4]:
naver['date'] = naver['y'] + naver['m'] + naver['d']
naver

             날짜       감기     y   m   d      date
0    2016-01-01  4.27966  2016  01  01  20160101
1    2016-01-02  4.90676  2016  01  02  20160102
2    2016-01-03  5.47383  2016  01  03  20160103
3    2016-01-04  6.40781  2016  01  04  20160104
4    2016-01-05  6.32109  2016  01  05  20160105
..          ...      ...   ...  ..  ..       ...
907  2018-06-26  3.91941  2018  06  26  20180626
908  2018-06-27  3.76263  2018  06  27  20180627
909  2018-06-28  3.50245  2018  06  28  20180628
910  2018-06-29  3.23226  2018  06  29  20180629
911  2018-06-30  3.15220  2018  06  30  20180630

[912 rows x 6 columns]

In [5]:
naver = naver.loc[:,["감기","date"]]
naver

          감기      date
0    4.27966  20160101
1    4.90676  20160102
2    5.47383  20160103
3    6.40781  20160104
4    6.32109  20160105
..       ...       ...
907  3.91941  20180626
908  3.76263  20180627
909  3.50245  20180628
910  3.23226  20180629
911  3.15220  20180630

[912 rows x 2 columns]

In [18]:
naver2 = naver[naver["date"] >= '20160501']
naver2

          감기      date
121  3.90606  20160501
122  4.79001  20160502
123  4.58320  20160503
124  4.21294  20160504
125  3.73261  20160505
..       ...       ...
907  3.91941  20180626
908  3.76263  20180627
909  3.50245  20180628
910  3.23226  20180629
911  3.15220  20180630

[791 rows x 2 columns]

In [11]:
naver2["date"].dtype

dtype('O')

In [6]:
mos = pd.read_csv('C:\dev_python\project\data_final\mosquito_final.csv', encoding = "CP949")
mos = mos.iloc[:, 1:]
mos

      모기지수 발생일   모기지수
0     20200129    5.5
1     20200128    5.5
2     20200127    5.5
3     20200126    5.5
4     20200125    5.5
...        ...    ...
1351  20160505  243.8
1352  20160504  256.2
1353  20160503  304.0
1354  20160502  273.5
1355  20160501  254.4

[1356 rows x 2 columns]

In [12]:
mos["모기지수 발생일"].dtype

dtype('int64')

In [15]:
mos["모기지수 발생일"].astype(str)

0       20200129
1       20200128
2       20200127
3       20200126
4       20200125
          ...
1351    20160505
1352    20160504
1353    20160503
1354    20160502
1355    20160501
Name: 모기지수 발생일, Length: 1356, dtype: object

In [14]:
mos["모기지수 발생일"] = mos["모기지수 발생일"].astype(str)

In [21]:
mos2 = mos[mos["모기지수 발생일"] <= '20180630']
mos2

      모기지수 발생일    모기지수
541   20180630   869.9
542   20180629   817.0
543   20180628   766.3
544   20180627   974.7
545   20180626  1000.0
...        ...     ...
1351  20160505   243.8
1352  20160504   256.2
1353  20160503   304.0
1354  20160502   273.5
1355  20160501   254.4

[815 rows x 2 columns]

In [22]:
mn = mos2.merge(naver2, left_on=['모기지수 발생일'], right_on=['date'], how = 'left') 
mn = mn.drop(['모기지수 발생일'], axis=1)
mn

       모기지수       감기      date
0     869.9  3.15220  20180630
1     817.0  3.23226  20180629
2     766.3  3.50245  20180628
3     974.7  3.76263  20180627
4    1000.0  3.91941  20180626
..      ...      ...       ...
810   243.8  3.73261  20160505
811   256.2  4.21294  20160504
812   304.0  4.58320  20160503
813   273.5  4.79001  20160502
814   254.4  3.90606  20160501

[815 rows x 3 columns]

In [23]:
mn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 0 to 814
Data columns (total 3 columns):
모기지수    815 non-null float64
감기      815 non-null float64
date    815 non-null object
dtypes: float64(2), object(1)
memory usage: 25.5+ KB

In [31]:
naver3 = naver2.drop_duplicates('date')
naver3

          감기      date
121  3.90606  20160501
122  4.79001  20160502
123  4.58320  20160503
124  4.21294  20160504
125  3.73261  20160505
..       ...       ...
907  3.91941  20180626
908  3.76263  20180627
909  3.50245  20180628
910  3.23226  20180629
911  3.15220  20180630

[791 rows x 2 columns]

In [30]:
mos3 = mos2.drop_duplicates('모기지수 발생일')
mos3

      모기지수 발생일    모기지수
541   20180630   869.9
542   20180629   817.0
543   20180628   766.3
544   20180627   974.7
545   20180626  1000.0
...        ...     ...
1351  20160505   243.8
1352  20160504   256.2
1353  20160503   304.0
1354  20160502   273.5
1355  20160501   254.4

[785 rows x 2 columns]

In [32]:
mn = naver3.merge(mos3, left_on=['date'], right_on=['모기지수 발생일'], how = 'left') 
mn = mn.drop(['모기지수 발생일'], axis=1)
mn

          감기      date    모기지수
0    3.90606  20160501   254.4
1    4.79001  20160502   273.5
2    4.58320  20160503   304.0
3    4.21294  20160504   256.2
4    3.73261  20160505   243.8
..       ...       ...     ...
786  3.91941  20180626  1000.0
787  3.76263  20180627   974.7
788  3.50245  20180628   766.3
789  3.23226  20180629   817.0
790  3.15220  20180630   869.9

[791 rows x 3 columns]

In [33]:
mn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 791 entries, 0 to 790
Data columns (total 3 columns):
감기      791 non-null float64
date    791 non-null object
모기지수    785 non-null float64
dtypes: float64(2), object(1)
memory usage: 24.7+ KB

In [34]:
mn.drop_duplicates('date')

          감기      date    모기지수
0    3.90606  20160501   254.4
1    4.79001  20160502   273.5
2    4.58320  20160503   304.0
3    4.21294  20160504   256.2
4    3.73261  20160505   243.8
..       ...       ...     ...
786  3.91941  20180626  1000.0
787  3.76263  20180627   974.7
788  3.50245  20180628   766.3
789  3.23226  20180629   817.0
790  3.15220  20180630   869.9

[791 rows x 3 columns]

In [56]:
mn.columns = ["검색량", "date1", "모기지수"]

In [57]:
mn

         검색량     date1    모기지수
0    3.90606  20160501   254.4
1    4.79001  20160502   273.5
2    4.58320  20160503   304.0
3    4.21294  20160504   256.2
4    3.73261  20160505   243.8
..       ...       ...     ...
786  3.91941  20180626  1000.0
787  3.76263  20180627   974.7
788  3.50245  20180628   766.3
789  3.23226  20180629   817.0
790  3.15220  20180630   869.9

[791 rows x 3 columns]

In [35]:
mn.to_csv('C:\\dev_python\\project\\data_final\\naver_mos_1678.csv', encoding = "CP949", index = False)

In [37]:
air = pd.read_csv('C:\dev_python\project\data_final2\\air_20145678.csv', encoding = "CP949")
air

,시군구지역코드,시군구명,측정일시,이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....
0,11110,종로구,20140101,0.036000,0.007000,0.400000,0.007000,112.000000,21.000000
1,11140,중구,20140101,0.036000,0.012000,0.600000,0.011000,117.000000,27.000000
2,11170,용산구,20140101,0.033000,0.010000,0.500000,0.008000,119.000000,26.000000
3,11200,성동구,20140101,0.032000,0.009000,0.400000,0.007000,116.000000,22.000000
4,11215,광진구,20140101,0.031000,0.012000,0.800000,0.007000,132.000000,27.000000
...,...,...,...,...,...,...,...,...,...
43727,11740,강동구,20181015,0.038333,0.022083,0.670833,0.007833,64.000000,32.666667
43728,11740,강동구,20181016,0.039208,0.014417,0.654167,0.008167,62.166667,28.958333
43729,11740,강동구,20181017,0.038792,0.011583,0.566667,0.008083,39.875000,19.041667
43730,11740,강동구,20181018,0.024417,0.012875,0.387500,0.007750,27.208333,8.791667
43731,11740,강동구,20181019,0.017500,0.017000,0.300000,0.007000,15.500000,8.166667

In [38]:
air_16 = air[(air["측정일시"] >= 20160501) & (air["측정일시"] <= 20180630)]
air_16

,시군구지역코드,시군구명,측정일시,이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....
21182,11110,종로구,20160501,0.026000,0.033000,0.400000,0.005000,43.000000,20.000000
21183,11140,중구,20160501,0.032000,0.045000,0.600000,0.005000,45.000000,20.000000
21184,11170,용산구,20160501,0.026000,0.047000,0.400000,0.005000,38.000000,20.000000
21185,11200,성동구,20160501,0.033000,0.039000,0.600000,0.007000,60.000000,23.000000
21186,11215,광진구,20160501,0.025000,0.053000,0.600000,0.004000,42.000000,21.000000
...,...,...,...,...,...,...,...,...,...
43616,11740,강동구,20180626,0.021625,0.028375,0.475000,0.004125,55.000000,32.458333
43617,11740,강동구,20180627,0.019875,0.030333,0.479167,0.003583,29.833333,19.083333
43618,11740,강동구,20180628,0.023042,0.019750,0.416667,0.003708,22.875000,12.958333
43619,11740,강동구,20180629,0.026750,0.031292,0.475000,0.003583,40.541667,23.833333
43620,11740,강동구,20180630,0.025208,0.019792,0.475000,0.003708,57.375000,32.833333

In [43]:
weather = pd.read_csv('C:\dev_python\project\data_final2\seoul_w_real_final.csv', encoding = "CP949")
weather

,일강수량(mm),일시,최고기온(°C),최대 순간 풍속 풍향(deg),최대 순간 풍속(m/s),최저기온 시각(hhmi),최저기온(°C),평균 풍속(m/s),평균기온(°C),지점.1,자치구코드
0,0.0,20170101,7.0,73.1,3.3,626.0,-0.4,1.3,3.5,강남,11680
1,0.0,20170102,9.4,196.9,5.8,2351.0,3.7,1.6,6.2,강남,11680
2,0.0,20170103,7.2,227.8,5.6,538.0,1.1,1.7,4.0,강남,11680
3,0.0,20170104,9.3,315.0,6.5,822.0,2.5,1.4,5.4,강남,11680
4,0.0,20170105,7.8,67.5,6.5,340.0,1.6,1.8,5.0,강남,11680
...,...,...,...,...,...,...,...,...,...,...,...
45641,0.0,20141227,3.7,NaN,4.5,812.0,-6.0,1.0,-1.3,종로,11110
45642,0.0,20141228,2.0,NaN,4.8,610.0,-3.4,0.8,-0.4,종로,11110
45643,0.0,20141229,6.4,NaN,5.6,414.0,0.1,0.9,3.3,종로,11110
45644,0.0,20141230,6.2,NaN,8.5,2354.0,0.0,1.4,3.0,종로,11110
45645,0.0,20141231,2.8,NaN,12.9,2359.0,-6.1,2.8,-1.1,종로,11110

In [44]:
weather_16 = weather[(weather["일시"] >= 20160501) & (weather["일시"] <= 20180630)]
weather_16

,일강수량(mm),일시,최고기온(°C),최대 순간 풍속 풍향(deg),최대 순간 풍속(m/s),최저기온 시각(hhmi),최저기온(°C),평균 풍속(m/s),평균기온(°C),지점.1,자치구코드
0,0.0,20170101,7.0,73.1,3.3,626.0,-0.4,1.3,3.5,강남,11680
1,0.0,20170102,9.4,196.9,5.8,2351.0,3.7,1.6,6.2,강남,11680
2,0.0,20170103,7.2,227.8,5.6,538.0,1.1,1.7,4.0,강남,11680
3,0.0,20170104,9.3,315.0,6.5,822.0,2.5,1.4,5.4,강남,11680
4,0.0,20170105,7.8,67.5,6.5,340.0,1.6,1.8,5.0,강남,11680
...,...,...,...,...,...,...,...,...,...,...,...
44911,0.0,20161227,2.8,255.9,7.6,2334.0,-4.3,2.6,-0.6,종로,11110
44912,0.0,20161228,2.4,230.6,6.1,755.0,-7.0,1.6,-2.5,종로,11110
44913,0.0,20161229,-0.4,292.5,8.3,0.0,-4.9,2.1,-3.0,종로,11110
44914,0.0,20161230,1.2,345.9,5.2,749.0,-7.7,1.1,-2.8,종로,11110
44915,0.0,20161231,5.5,101.3,4.5,519.0,-2.5,0.9,1.3,종로,11110

In [46]:
cold = pd.read_csv('C:\dev_python\project\data_final\cold_final.csv', encoding = "CP949")
cold

             날짜  시군구지역코드  발생건수(건) 시군구명
0      20140101    11110       53  종로구
1      20140102    11110     1408  종로구
2      20140103    11110     1129  종로구
3      20140104    11110      890  종로구
4      20140105    11110      134  종로구
...         ...      ...      ...  ...
41045  20180626    11740     1796  강동구
41046  20180627    11740     2135  강동구
41047  20180628    11740     2025  강동구
41048  20180629    11740     2360  강동구
41049  20180630    11740     1985  강동구

[41050 rows x 4 columns]

In [50]:
cold_16 = cold[(cold["날짜"] >= 20160501) & (cold["날짜"] <= 20180630)]
cold_16

             날짜  시군구지역코드  발생건수(건) 시군구명
851    20160501    11110      132  종로구
852    20160502    11110     1535  종로구
853    20160503    11110      878  종로구
854    20160504    11110     1232  종로구
855    20160505    11110      136  종로구
...         ...      ...      ...  ...
41045  20180626    11740     1796  강동구
41046  20180627    11740     2135  강동구
41047  20180628    11740     2025  강동구
41048  20180629    11740     2360  강동구
41049  20180630    11740     1985  강동구

[19775 rows x 4 columns]

In [51]:
cold_16.columns = ["date", "gu_code", "target", "gu_name"]
cold_16

           date  gu_code  target gu_name
851    20160501    11110     132     종로구
852    20160502    11110    1535     종로구
853    20160503    11110     878     종로구
854    20160504    11110    1232     종로구
855    20160505    11110     136     종로구
...         ...      ...     ...     ...
41045  20180626    11740    1796     강동구
41046  20180627    11740    2135     강동구
41047  20180628    11740    2025     강동구
41048  20180629    11740    2360     강동구
41049  20180630    11740    1985     강동구

[19775 rows x 4 columns]

In [52]:
cw = cold_16.merge(weather_16, left_on=['date', 'gu_code'], right_on=['일시', '자치구코드'], how = 'left') 
cw = cw.drop(['일시', '자치구코드', '지점.1'], axis=1)
cw

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최대 순간 풍속 풍향(deg),최대 순간 풍속(m/s),최저기온 시각(hhmi),최저기온(°C),평균 풍속(m/s),평균기온(°C)
0,20160501,11110,132,종로구,0.0,27.1,194.1,9.6,521.0,14.0,1.9,20.0
1,20160502,11110,1535,종로구,20.5,28.7,182.8,10.8,615.0,17.6,2.1,21.6
2,20160503,11110,878,종로구,29.0,18.9,255.9,16.6,2023.0,9.7,4.7,13.8
3,20160504,11110,1232,종로구,0.0,21.1,241.9,18.4,1.0,11.2,4.8,16.8
4,20160505,11110,136,종로구,5.5,26.6,143.4,7.1,611.0,11.2,1.9,19.4
...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180626,11740,1796,강동구,76.0,26.9,225.0,12.3,833.0,19.6,2.2,22.4
19771,20180627,11740,2135,강동구,1.5,26.0,227.8,8.6,551.0,19.3,1.8,22.9
19772,20180628,11740,2025,강동구,15.0,27.9,8.4,10.7,1717.0,19.4,1.3,23.2
19773,20180629,11740,2360,강동구,1.0,29.7,250.3,6.2,328.0,20.8,1.1,24.8
19774,20180630,11740,1985,강동구,24.0,28.7,106.9,9.3,256.0,21.4,1.3,24.3

In [54]:
cwa = cw.merge(air_16, left_on=['date', 'gu_code'], right_on=['측정일시', '시군구지역코드'], how = 'left') 
cwa = cwa.drop(['측정일시', '시군구지역코드' , '시군구명'], axis=1)
cwa

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최대 순간 풍속 풍향(deg),최대 순간 풍속(m/s),최저기온 시각(hhmi),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....
0,20160501,11110,132,종로구,0.0,27.1,194.1,9.6,521.0,14.0,1.9,20.0,0.026000,0.033000,0.400000,0.005000,43.000000,20.000000
1,20160502,11110,1535,종로구,20.5,28.7,182.8,10.8,615.0,17.6,2.1,21.6,0.030000,0.022000,0.400000,0.004000,43.000000,23.000000
2,20160503,11110,878,종로구,29.0,18.9,255.9,16.6,2023.0,9.7,4.7,13.8,0.018000,0.023000,0.300000,0.003000,22.000000,10.000000
3,20160504,11110,1232,종로구,0.0,21.1,241.9,18.4,1.0,11.2,4.8,16.8,0.018000,0.032000,0.200000,0.003000,49.000000,8.000000
4,20160505,11110,136,종로구,5.5,26.6,143.4,7.1,611.0,11.2,1.9,19.4,0.036000,0.025000,0.400000,0.005000,51.000000,21.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180626,11740,1796,강동구,76.0,26.9,225.0,12.3,833.0,19.6,2.2,22.4,0.021625,0.028375,0.475000,0.004125,55.000000,32.458333
19771,20180627,11740,2135,강동구,1.5,26.0,227.8,8.6,551.0,19.3,1.8,22.9,0.019875,0.030333,0.479167,0.003583,29.833333,19.083333
19772,20180628,11740,2025,강동구,15.0,27.9,8.4,10.7,1717.0,19.4,1.3,23.2,0.023042,0.019750,0.416667,0.003708,22.875000,12.958333
19773,20180629,11740,2360,강동구,1.0,29.7,250.3,6.2,328.0,20.8,1.1,24.8,0.026750,0.031292,0.475000,0.003583,40.541667,23.833333
19774,20180630,11740,1985,강동구,24.0,28.7,106.9,9.3,256.0,21.4,1.3,24.3,0.025208,0.019792,0.475000,0.003708,57.375000,32.833333

In [62]:
cwa["date"].dtype

dtype('int64')

In [66]:
mn["date1"].dtype

dtype('O')

In [67]:
mn["date1"] = mn["date1"].astype(int)
mn["date1"].dtype

dtype('int32')

In [68]:
cwamn = cwa.merge(mn, left_on=['date'], right_on=['date1'], how = 'left') 
cwamn = cwamn.drop(['date1'], axis=1)
cwamn

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최대 순간 풍속 풍향(deg),최대 순간 풍속(m/s),최저기온 시각(hhmi),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수
0,20160501,11110,132,종로구,0.0,27.1,194.1,9.6,521.0,14.0,1.9,20.0,0.026000,0.033000,0.400000,0.005000,43.000000,20.000000,3.90606,254.4
1,20160502,11110,1535,종로구,20.5,28.7,182.8,10.8,615.0,17.6,2.1,21.6,0.030000,0.022000,0.400000,0.004000,43.000000,23.000000,4.79001,273.5
2,20160503,11110,878,종로구,29.0,18.9,255.9,16.6,2023.0,9.7,4.7,13.8,0.018000,0.023000,0.300000,0.003000,22.000000,10.000000,4.58320,304.0
3,20160504,11110,1232,종로구,0.0,21.1,241.9,18.4,1.0,11.2,4.8,16.8,0.018000,0.032000,0.200000,0.003000,49.000000,8.000000,4.21294,256.2
4,20160505,11110,136,종로구,5.5,26.6,143.4,7.1,611.0,11.2,1.9,19.4,0.036000,0.025000,0.400000,0.005000,51.000000,21.000000,3.73261,243.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180626,11740,1796,강동구,76.0,26.9,225.0,12.3,833.0,19.6,2.2,22.4,0.021625,0.028375,0.475000,0.004125,55.000000,32.458333,3.91941,1000.0
19771,20180627,11740,2135,강동구,1.5,26.0,227.8,8.6,551.0,19.3,1.8,22.9,0.019875,0.030333,0.479167,0.003583,29.833333,19.083333,3.76263,974.7
19772,20180628,11740,2025,강동구,15.0,27.9,8.4,10.7,1717.0,19.4,1.3,23.2,0.023042,0.019750,0.416667,0.003708,22.875000,12.958333,3.50245,766.3
19773,20180629,11740,2360,강동구,1.0,29.7,250.3,6.2,328.0,20.8,1.1,24.8,0.026750,0.031292,0.475000,0.003583,40.541667,23.833333,3.23226,817.0
19774,20180630,11740,1985,강동구,24.0,28.7,106.9,9.3,256.0,21.4,1.3,24.3,0.025208,0.019792,0.475000,0.003708,57.375000,32.833333,3.15220,869.9

In [69]:
cwamn.drop_duplicates(['date', 'gu_code'])

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최대 순간 풍속 풍향(deg),최대 순간 풍속(m/s),최저기온 시각(hhmi),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수
0,20160501,11110,132,종로구,0.0,27.1,194.1,9.6,521.0,14.0,1.9,20.0,0.026000,0.033000,0.400000,0.005000,43.000000,20.000000,3.90606,254.4
1,20160502,11110,1535,종로구,20.5,28.7,182.8,10.8,615.0,17.6,2.1,21.6,0.030000,0.022000,0.400000,0.004000,43.000000,23.000000,4.79001,273.5
2,20160503,11110,878,종로구,29.0,18.9,255.9,16.6,2023.0,9.7,4.7,13.8,0.018000,0.023000,0.300000,0.003000,22.000000,10.000000,4.58320,304.0
3,20160504,11110,1232,종로구,0.0,21.1,241.9,18.4,1.0,11.2,4.8,16.8,0.018000,0.032000,0.200000,0.003000,49.000000,8.000000,4.21294,256.2
4,20160505,11110,136,종로구,5.5,26.6,143.4,7.1,611.0,11.2,1.9,19.4,0.036000,0.025000,0.400000,0.005000,51.000000,21.000000,3.73261,243.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180626,11740,1796,강동구,76.0,26.9,225.0,12.3,833.0,19.6,2.2,22.4,0.021625,0.028375,0.475000,0.004125,55.000000,32.458333,3.91941,1000.0
19771,20180627,11740,2135,강동구,1.5,26.0,227.8,8.6,551.0,19.3,1.8,22.9,0.019875,0.030333,0.479167,0.003583,29.833333,19.083333,3.76263,974.7
19772,20180628,11740,2025,강동구,15.0,27.9,8.4,10.7,1717.0,19.4,1.3,23.2,0.023042,0.019750,0.416667,0.003708,22.875000,12.958333,3.50245,766.3
19773,20180629,11740,2360,강동구,1.0,29.7,250.3,6.2,328.0,20.8,1.1,24.8,0.026750,0.031292,0.475000,0.003583,40.541667,23.833333,3.23226,817.0
19774,20180630,11740,1985,강동구,24.0,28.7,106.9,9.3,256.0,21.4,1.3,24.3,0.025208,0.019792,0.475000,0.003708,57.375000,32.833333,3.15220,869.9

In [70]:
cwamn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19775 entries, 0 to 19774
Data columns (total 20 columns):
date                19775 non-null int64
gu_code             19775 non-null int64
target              19775 non-null int64
gu_name             19775 non-null object
일강수량(mm)            19767 non-null float64
최고기온(°C)            19696 non-null float64
최대 순간 풍속 풍향(deg)    19430 non-null float64
최대 순간 풍속(m/s)       19440 non-null float64
최저기온 시각(hhmi)       19696 non-null float64
최저기온(°C)            19696 non-null float64
평균 풍속(m/s)          19695 non-null float64
평균기온(°C)            19689 non-null float64
이산화질소농도.ppm.        19775 non-null float64
오존농도.ppm.           19775 non-null float64
이산화탄소농도.ppm.        19775 non-null float64
아황산가스.ppm.          19775 non-null float64
미세먼지.....           19775 non-null float64
초미세먼지.....          19775 non-null float64
검색량                 19775 non-null float64
모기지수                19625 non-null float64
dtypes: float64(16), int64(3), object(1)
memory usage: 3.2+ MB

In [73]:
cwamn.to_csv("C:\dev_python\project\data_final2\data_201678.csv", encoding = 'cp949', index = False)

In [75]:
df = pd.read_csv('C:\\dev_python\\project\\data_final2\\Data_good.csv', encoding = "CP949")
df

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수
0,20160501,11110,132,종로구,0.0,27.1,14.0,1.9,20.0,0.026000,0.033000,0.400000,0.005000,43.000000,20.000000,3.90606,254.4
1,20160501,11140,112,중구,0.0,27.9,13.8,0.6,18.9,0.032000,0.045000,0.600000,0.005000,45.000000,20.000000,3.90606,254.4
2,20160501,11170,195,용산구,0.0,25.8,14.1,2.4,19.6,0.026000,0.047000,0.400000,0.005000,38.000000,20.000000,3.90606,254.4
3,20160501,11200,328,성동구,0.0,26.1,14.0,1.8,19.6,0.033000,0.039000,0.600000,0.007000,60.000000,23.000000,3.90606,254.4
4,20160501,11215,318,광진구,0.0,26.3,13.1,1.5,19.2,0.025000,0.053000,0.600000,0.004000,42.000000,21.000000,3.90606,254.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180630,11620,1978,관악구,0.5,27.7,18.9,1.0,23.3,0.033542,0.026542,0.679167,0.002500,50.958333,38.958333,3.15220,869.9
19771,20180630,11650,1948,서초구,0.5,30.1,21.3,0.9,25.2,0.037375,0.025208,0.500000,0.003583,43.500000,34.500000,3.15220,869.9
19772,20180630,11680,2324,강남구,3.5,29.6,22.8,1.0,25.6,0.033000,0.019542,0.525000,0.005000,48.375000,37.250000,3.15220,869.9
19773,20180630,11710,3118,송파구,3.0,29.4,22.7,1.1,25.4,0.025708,0.022750,0.745833,0.003167,40.208333,25.125000,3.15220,869.9
19774,20180630,11740,1985,강동구,24.0,28.7,21.4,1.3,24.3,0.025208,0.019792,0.475000,0.003708,57.375000,32.833333,3.15220,869.9

In [77]:
df_fillna = df.fillna(method='ffill')
df_fillna

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수
22,20160501,11680,471,강남구,0.0,26.2,14.5,1.7,19.9,0.024000,0.053000,0.400000,0.006000,45.000000,21.000000,3.90606,254.4
24,20160501,11740,465,강동구,0.0,26.2,11.6,1.2,18.7,0.026000,0.037000,0.500000,0.004000,51.000000,22.000000,3.90606,254.4
8,20160501,11305,434,강북구,0.0,27.2,13.5,2.0,19.6,0.028000,0.052000,0.500000,0.004000,38.000000,20.000000,3.90606,254.4
15,20160501,11500,1041,강서구,0.0,25.2,15.4,2.2,19.4,0.018000,0.050000,0.300000,0.006000,46.000000,19.000000,3.90606,254.4
20,20160501,11620,415,관악구,0.0,25.6,13.4,3.0,18.7,0.021000,0.055000,0.500000,0.005000,40.000000,21.000000,3.90606,254.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19752,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9
19761,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9
19750,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9
19751,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9
19756,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9

In [79]:
df_fillna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19775 entries, 22 to 19756
Data columns (total 17 columns):
date            19775 non-null int64
gu_code         19775 non-null int64
target          19775 non-null int64
gu_name         19775 non-null object
일강수량(mm)        19775 non-null float64
최고기온(°C)        19775 non-null float64
최저기온(°C)        19775 non-null float64
평균 풍속(m/s)      19775 non-null float64
평균기온(°C)        19775 non-null float64
이산화질소농도.ppm.    19775 non-null float64
오존농도.ppm.       19775 non-null float64
이산화탄소농도.ppm.    19775 non-null float64
아황산가스.ppm.      19775 non-null float64
미세먼지.....       19775 non-null float64
초미세먼지.....      19775 non-null float64
검색량             19775 non-null float64
모기지수            19775 non-null float64
dtypes: float64(13), int64(3), object(1)
memory usage: 2.7+ MB

In [81]:
df_fillna.to_csv("C:\dev_python\project\data_final2\data_good_good.csv", encoding = 'cp949', index = False)

In [104]:
df = pd.read_csv('C:\\dev_python\\project\\data_final2\\Data_month.csv', encoding = "CP949")
df

,Unnamed: 0,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month
0,0,20160501,11680,471,강남구,0.0,26.2,14.5,1.7,19.9,0.024000,0.053000,0.400000,0.006000,45.000000,21.000000,3.90606,254.4,5
1,1,20160501,11740,465,강동구,0.0,26.2,11.6,1.2,18.7,0.026000,0.037000,0.500000,0.004000,51.000000,22.000000,3.90606,254.4,5
2,2,20160501,11305,434,강북구,0.0,27.2,13.5,2.0,19.6,0.028000,0.052000,0.500000,0.004000,38.000000,20.000000,3.90606,254.4,5
3,3,20160501,11500,1041,강서구,0.0,25.2,15.4,2.2,19.4,0.018000,0.050000,0.300000,0.006000,46.000000,19.000000,3.90606,254.4,5
4,4,20160501,11620,415,관악구,0.0,25.6,13.4,3.0,18.7,0.021000,0.055000,0.500000,0.005000,40.000000,21.000000,3.90606,254.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,19770,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6
19771,19771,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6
19772,19772,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6
19773,19773,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6
19774,19774,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6

In [105]:
df["date"].dtype

dtype('int64')

In [106]:
df["date"] = df["date"].astype(str)
df["date"].dtype

dtype('O')

In [107]:
import datetime

df["date"] = pd.to_datetime(df["date"])
df["요일"] = df["date"].dt.dayofweek
df

,Unnamed: 0,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month,요일
0,0,2016-05-01,11680,471,강남구,0.0,26.2,14.5,1.7,19.9,0.024000,0.053000,0.400000,0.006000,45.000000,21.000000,3.90606,254.4,5,6
1,1,2016-05-01,11740,465,강동구,0.0,26.2,11.6,1.2,18.7,0.026000,0.037000,0.500000,0.004000,51.000000,22.000000,3.90606,254.4,5,6
2,2,2016-05-01,11305,434,강북구,0.0,27.2,13.5,2.0,19.6,0.028000,0.052000,0.500000,0.004000,38.000000,20.000000,3.90606,254.4,5,6
3,3,2016-05-01,11500,1041,강서구,0.0,25.2,15.4,2.2,19.4,0.018000,0.050000,0.300000,0.006000,46.000000,19.000000,3.90606,254.4,5,6
4,4,2016-05-01,11620,415,관악구,0.0,25.6,13.4,3.0,18.7,0.021000,0.055000,0.500000,0.005000,40.000000,21.000000,3.90606,254.4,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,19770,2018-06-30,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6,5
19771,19771,2018-06-30,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6,5
19772,19772,2018-06-30,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6,5
19773,19773,2018-06-30,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6,5
19774,19774,2018-06-30,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6,5

In [108]:
df = df.drop(df[(df.요일 == 6)].index, axis=0)
df

,Unnamed: 0,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month,요일
25,25,2016-05-02,11680,6421,강남구,21.0,28.5,17.5,1.4,21.3,0.037000,0.027000,0.400000,0.005000,44.000000,26.000000,4.79001,273.5,5,0
26,26,2016-05-02,11740,5264,강동구,21.0,28.3,15.3,1.6,20.7,0.031000,0.022000,0.500000,0.004000,50.000000,26.000000,4.79001,273.5,5,0
27,27,2016-05-02,11305,3723,강북구,22.0,28.6,17.3,1.7,21.4,0.031000,0.034000,0.500000,0.004000,38.000000,21.000000,4.79001,273.5,5,0
28,28,2016-05-02,11500,7800,강서구,15.0,27.8,17.5,2.6,21.1,0.024000,0.027000,0.400000,0.005000,49.000000,23.000000,4.79001,273.5,5,0
29,29,2016-05-02,11620,5908,관악구,22.5,26.8,15.6,2.3,19.8,0.025000,0.038000,0.500000,0.004000,44.000000,25.000000,4.79001,273.5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,19770,2018-06-30,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6,5
19771,19771,2018-06-30,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6,5
19772,19772,2018-06-30,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6,5
19773,19773,2018-06-30,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6,5
19774,19774,2018-06-30,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6,5

In [109]:
df.to_csv("C:\dev_python\project\data_final2\data_good_drop.csv", encoding = 'cp949', index = False)

In [112]:
df = pd.read_csv('C:\\dev_python\\project\\data_final2\\data_good_drop.csv', encoding = "CP949")
df

,Unnamed: 0,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month,요일
0,25,20160502,11680,6421,강남구,21.0,28.5,17.5,1.4,21.3,0.037000,0.027000,0.400000,0.005000,44.000000,26.000000,4.79001,273.5,5,0
1,26,20160502,11740,5264,강동구,21.0,28.3,15.3,1.6,20.7,0.031000,0.022000,0.500000,0.004000,50.000000,26.000000,4.79001,273.5,5,0
2,27,20160502,11305,3723,강북구,22.0,28.6,17.3,1.7,21.4,0.031000,0.034000,0.500000,0.004000,38.000000,21.000000,4.79001,273.5,5,0
3,28,20160502,11500,7800,강서구,15.0,27.8,17.5,2.6,21.1,0.024000,0.027000,0.400000,0.005000,49.000000,23.000000,4.79001,273.5,5,0
4,29,20160502,11620,5908,관악구,22.5,26.8,15.6,2.3,19.8,0.025000,0.038000,0.500000,0.004000,44.000000,25.000000,4.79001,273.5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16945,19770,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6,5
16946,19771,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6,5
16947,19772,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6,5
16948,19773,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6,5
16949,19774,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6,5

In [113]:
df_drop_hol = df.drop(df[(df.date == 20160101) | \
                          (df.date == 20160208) | (df.date == 20160209) | (df.date == 20160210) | \
                          (df.date == 20160301) | \
                          (df.date == 20160413) | \
                          (df.date == 20160505) | (df.date == 20160506) | (df.date == 20160514) | \
                          (df.date == 20160606) | \
                          (df.date == 20160815) | \
                          (df.date == 20160914) | (df.date == 20160915) | (df.date == 20160916) | \
                          (df.date == 20161003) | \
                          (df.date == 20170127) | (df.date == 20170128) | (df.date == 20170130) | \
                          (df.date == 20170301) | \
                          (df.date == 20170503) | (df.date == 20170505) | (df.date == 20170509) | \
                          (df.date == 20170606) | \
                          (df.date == 20170815) | \
                          (df.date == 20171002) | (df.date == 20171003) | (df.date == 20171004) | (df.date == 20171005) | (df.date == 20171006) | (df.date == 20171009) | \
                          (df.date == 20171220) | (df.date == 20171225) | \
                          (df.date == 20180101) | \
                          (df.date == 20180215) | (df.date == 20180216) | (df.date == 20180217) | \
                          (df.date == 20180301) | \
                          (df.date == 20180505) | (df.date == 20180507) | (df.date == 20180522) | \
                          (df.date == 20180606) | (df.date == 20180613) | \
                          (df.date == 20180815) | \
                          (df.date == 20180924) | (df.date == 20180925) | (df.date == 20180926) | \
                          (df.date == 20181003) | (df.date == 20181009) | \
                          (df.date == 20181225)].index, axis=0)
df_drop_hol

,Unnamed: 0,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month,요일
0,25,20160502,11680,6421,강남구,21.0,28.5,17.5,1.4,21.3,0.037000,0.027000,0.400000,0.005000,44.000000,26.000000,4.79001,273.5,5,0
1,26,20160502,11740,5264,강동구,21.0,28.3,15.3,1.6,20.7,0.031000,0.022000,0.500000,0.004000,50.000000,26.000000,4.79001,273.5,5,0
2,27,20160502,11305,3723,강북구,22.0,28.6,17.3,1.7,21.4,0.031000,0.034000,0.500000,0.004000,38.000000,21.000000,4.79001,273.5,5,0
3,28,20160502,11500,7800,강서구,15.0,27.8,17.5,2.6,21.1,0.024000,0.027000,0.400000,0.005000,49.000000,23.000000,4.79001,273.5,5,0
4,29,20160502,11620,5908,관악구,22.5,26.8,15.6,2.3,19.8,0.025000,0.038000,0.500000,0.004000,44.000000,25.000000,4.79001,273.5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16945,19770,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6,5
16946,19771,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6,5
16947,19772,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6,5
16948,19773,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6,5
16949,19774,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6,5

In [114]:
df_drop_hol[df_drop_hol.date == 20170127]

Empty DataFrame
Columns: [Unnamed: 0, date, gu_code, target, gu_name, 일강수량(mm), 최고기온(°C), 최저기온(°C), 평균 풍속(m/s), 평균기온(°C), 이산화질소농도.ppm., 오존농도.ppm., 이산화탄소농도.ppm., 아황산가스.ppm., 미세먼지....., 초미세먼지....., 검색량, 모기지수, month, 요일]
Index: []

In [115]:
df_drop_hol.columns

Index(['Unnamed: 0', 'date', 'gu_code', 'target', 'gu_name', '일강수량(mm)',
       '최고기온(°C)', '최저기온(°C)', '평균 풍속(m/s)', '평균기온(°C)', '이산화질소농도.ppm.',
       '오존농도.ppm.', '이산화탄소농도.ppm.', '아황산가스.ppm.', '미세먼지.....', '초미세먼지.....',
       '검색량', '모기지수', 'month', '요일'],
      dtype='object')

In [116]:
df_drop_hol["일교차"] = df_drop_hol["최고기온(°C)"] - df_drop_hol["최저기온(°C)"]

In [121]:
df_drop_hol

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month,요일,일교차
0,20160502,11680,6421,강남구,21.0,28.5,17.5,1.4,21.3,0.037000,0.027000,0.400000,0.005000,44.000000,26.000000,4.79001,273.5,5,0,11.0
1,20160502,11740,5264,강동구,21.0,28.3,15.3,1.6,20.7,0.031000,0.022000,0.500000,0.004000,50.000000,26.000000,4.79001,273.5,5,0,13.0
2,20160502,11305,3723,강북구,22.0,28.6,17.3,1.7,21.4,0.031000,0.034000,0.500000,0.004000,38.000000,21.000000,4.79001,273.5,5,0,11.3
3,20160502,11500,7800,강서구,15.0,27.8,17.5,2.6,21.1,0.024000,0.027000,0.400000,0.005000,49.000000,23.000000,4.79001,273.5,5,0,10.3
4,20160502,11620,5908,관악구,22.5,26.8,15.6,2.3,19.8,0.025000,0.038000,0.500000,0.004000,44.000000,25.000000,4.79001,273.5,5,0,11.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16945,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6,5,7.1
16946,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6,5,9.2
16947,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6,5,7.6
16948,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6,5,7.8
16949,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6,5,7.6

In [122]:
df_drop_hol["체감온도"] = 13.12 + 0.6215*df_drop_hol["평균기온(°C)"] - 11.37*df_drop_hol["평균 풍속(m/s)"] \
                        + 0.3965*df_drop_hol["평균 풍속(m/s)"]*df_drop_hol["평균기온(°C)"]
df_drop_hol

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,...,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,month,요일,일교차,체감온도
0,20160502,11680,6421,강남구,21.0,28.5,17.5,1.4,21.3,0.037000,...,0.400000,0.005000,44.000000,26.000000,4.79001,273.5,5,0,11.0,22.263580
1,20160502,11740,5264,강동구,21.0,28.3,15.3,1.6,20.7,0.031000,...,0.500000,0.004000,50.000000,26.000000,4.79001,273.5,5,0,13.0,20.925130
2,20160502,11305,3723,강북구,22.0,28.6,17.3,1.7,21.4,0.031000,...,0.500000,0.004000,38.000000,21.000000,4.79001,273.5,5,0,11.3,21.515770
3,20160502,11500,7800,강서구,15.0,27.8,17.5,2.6,21.1,0.024000,...,0.400000,0.005000,49.000000,23.000000,4.79001,273.5,5,0,10.3,18.423640
4,20160502,11620,5908,관악구,22.5,26.8,15.6,2.3,19.8,0.025000,...,0.500000,0.004000,44.000000,25.000000,4.79001,273.5,5,0,11.2,17.331310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16945,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,...,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,6,5,7.1,26.996400
16946,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,...,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,6,5,9.2,26.043325
16947,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,...,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,6,5,7.6,26.702270
16948,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,...,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,6,5,7.8,25.467775
16949,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,...,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,6,5,7.6,26.702270

In [124]:
df_drop_hol.columns

Index(['date', 'gu_code', 'target', 'gu_name', '일강수량(mm)', '최고기온(°C)',
       '최저기온(°C)', '평균 풍속(m/s)', '평균기온(°C)', '이산화질소농도.ppm.', '오존농도.ppm.',
       '이산화탄소농도.ppm.', '아황산가스.ppm.', '미세먼지.....', '초미세먼지.....', '검색량', '모기지수',
       'month', '요일', '일교차', '체감온도'],
      dtype='object')

In [125]:
df_drop_hol.columns = (['date', 'gu_code', 'target', 'gu_name', '강수량(mm)', '최고기온(°C)',
       '최저기온(°C)', '평균풍속(m/s)', '평균기온(°C)', '이산화질소농도.ppm.', '오존농도.ppm.',
       '이산화탄소농도.ppm.', '아황산가스.ppm.', '미세먼지', '초미세먼지', '검색량', '모기지수',
       'month', '요일', '일교차', '체감온도'])

In [126]:
df_drop_hol.columns

Index(['date', 'gu_code', 'target', 'gu_name', '강수량(mm)', '최고기온(°C)',
       '최저기온(°C)', '평균풍속(m/s)', '평균기온(°C)', '이산화질소농도.ppm.', '오존농도.ppm.',
       '이산화탄소농도.ppm.', '아황산가스.ppm.', '미세먼지', '초미세먼지', '검색량', '모기지수', 'month',
       '요일', '일교차', '체감온도'],
      dtype='object')

In [127]:
df_drop_hol_col = df_drop_hol[['target', 'date', 'month', '요일', 'gu_code', 'gu_name', '최고기온(°C)', '평균기온(°C)',
       '최저기온(°C)', '일교차', '체감온도', '강수량(mm)', '평균풍속(m/s)', '미세먼지', '초미세먼지', '검색량', '모기지수']]

In [128]:
df_drop_hol_col

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16945,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
16946,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
16947,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
16948,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
16949,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [129]:
df_drop_hol_col.to_csv("C:\dev_python\project\data_final2\data_678_drop_final.csv", encoding = 'cp949', index = False)

In [274]:
df = pd.read_csv("C:\dev_python\project\data_final2\data_678_drop_final.csv", encoding = "CP949")
df.head()

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.26358,21.0,1.4,44.0,26.0,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.92513,21.0,1.6,50.0,26.0,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.51577,22.0,1.7,38.0,21.0,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.42364,15.0,2.6,49.0,23.0,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.33131,22.5,2.3,44.0,25.0,4.79001,273.5

In [275]:
df2 = pd.read_csv("C:\dev_python\project\data_final\\cold_final.csv", encoding = "CP949")
df2.head()

         날짜  시군구지역코드  발생건수(건) 시군구명
0  20140101    11110       53  종로구
1  20140102    11110     1408  종로구
2  20140103    11110     1129  종로구
3  20140104    11110      890  종로구
4  20140105    11110      134  종로구

In [276]:
df2 = df2[df2.날짜 >= 20160501]
df2

             날짜  시군구지역코드  발생건수(건) 시군구명
851    20160501    11110      132  종로구
852    20160502    11110     1535  종로구
853    20160503    11110      878  종로구
854    20160504    11110     1232  종로구
855    20160505    11110      136  종로구
...         ...      ...      ...  ...
41045  20180626    11740     1796  강동구
41046  20180627    11740     2135  강동구
41047  20180628    11740     2025  강동구
41048  20180629    11740     2360  강동구
41049  20180630    11740     1985  강동구

[19775 rows x 4 columns]

In [277]:
df2.columns = ["date2", "시군구지역코드", "target2", "시군구명"]
df2.columns

Index(['date2', '시군구지역코드', 'target2', '시군구명'], dtype='object')

In [278]:
df2["date2"].dtype

dtype('int64')

In [279]:
df2["date2"] = df2["date2"].astype(str)

df2["date2"] = df2["date2"].str[0:4] + "-" + df2["date2"].str[4:6] + "-" + df2["date2"].str[6:8]

df2["date2"] = df2["date2"].astype('datetime64[ns]')

In [280]:
df2

           date2  시군구지역코드  target2 시군구명
851   2016-05-01    11110      132  종로구
852   2016-05-02    11110     1535  종로구
853   2016-05-03    11110      878  종로구
854   2016-05-04    11110     1232  종로구
855   2016-05-05    11110      136  종로구
...          ...      ...      ...  ...
41045 2018-06-26    11740     1796  강동구
41046 2018-06-27    11740     2135  강동구
41047 2018-06-28    11740     2025  강동구
41048 2018-06-29    11740     2360  강동구
41049 2018-06-30    11740     1985  강동구

[19775 rows x 4 columns]

In [281]:
df2["date2"] = df2["date2"] - pd.DateOffset(days=5)
#df2 = df2.drop('date2', axis =1)
df2

           date2  시군구지역코드  target2 시군구명
851   2016-04-26    11110      132  종로구
852   2016-04-27    11110     1535  종로구
853   2016-04-28    11110      878  종로구
854   2016-04-29    11110     1232  종로구
855   2016-04-30    11110      136  종로구
...          ...      ...      ...  ...
41045 2018-06-21    11740     1796  강동구
41046 2018-06-22    11740     2135  강동구
41047 2018-06-23    11740     2025  강동구
41048 2018-06-24    11740     2360  강동구
41049 2018-06-25    11740     1985  강동구

[19775 rows x 4 columns]

In [282]:
df2["date2"] = df2["date2"].astype('str')

df2["date2"] = df2["date2"].str[0:4] + df2["date2"].str[5:7] + df2["date2"].str[8:10]

df2["date2"] = df2["date2"].astype('int')

df2

          date2  시군구지역코드  target2 시군구명
851    20160426    11110      132  종로구
852    20160427    11110     1535  종로구
853    20160428    11110      878  종로구
854    20160429    11110     1232  종로구
855    20160430    11110      136  종로구
...         ...      ...      ...  ...
41045  20180621    11740     1796  강동구
41046  20180622    11740     2135  강동구
41047  20180623    11740     2025  강동구
41048  20180624    11740     2360  강동구
41049  20180625    11740     1985  강동구

[19775 rows x 4 columns]

In [283]:
df3 = df.merge(df2, left_on=['date', 'gu_code'], right_on=['date2', '시군구지역코드'], how = 'inner') 
df3 = df3.drop(['date', '시군구지역코드', 'target', '시군구명'], axis=1)
df3

,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,date2,target2
0,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.26358,21.0,1.4,44.000000,26.000000,4.79001,273.5,20160502,3209
1,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.92513,21.0,1.6,50.000000,26.000000,4.79001,273.5,20160502,2773
2,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.51577,22.0,1.7,38.000000,21.000000,4.79001,273.5,20160502,1847
3,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.42364,15.0,2.6,49.000000,23.000000,4.79001,273.5,20160502,4128
4,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.33131,22.5,2.3,44.000000,25.000000,4.79001,273.5,20160502,2767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15920,6,0,11170,용산구,33.9,27.6,22.0,11.9,29.76148,0.0,1.2,51.500000,36.125000,3.93275,969.2,20180625,863
15921,6,0,11380,은평구,31.9,24.3,17.5,14.4,27.18142,0.0,0.6,60.833333,46.291667,3.93275,969.2,20180625,2028
15922,6,0,11110,종로구,33.6,28.0,22.2,11.4,30.09320,0.0,1.6,50.291667,29.166667,3.93275,969.2,20180625,508
15923,6,0,11140,중구,33.1,26.1,20.1,13.0,28.31980,0.0,1.0,56.791667,33.000000,3.93275,969.2,20180625,492
15924,6,0,11260,중랑구,33.6,28.0,22.2,11.4,30.09320,0.0,1.6,49.083333,32.541667,3.93275,969.2,20180625,1787

In [284]:
df3.to_csv("C:\dev_python\project\data_final2\data_678_5day.csv", encoding = 'cp949', index = False)

# ============================================================

# Drop (sun, hol) : 3 class

In [6]:
cd = pd.read_csv("data_678_drop_final.csv", encoding = "CP949")
cd.head()

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.26358,21.0,1.4,44.0,26.0,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.92513,21.0,1.6,50.0,26.0,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.51577,22.0,1.7,38.0,21.0,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.42364,15.0,2.6,49.0,23.0,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.33131,22.5,2.3,44.0,25.0,4.79001,273.5

In [321]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [288]:
16050 / 3

5350.0

In [327]:
cd2 = cd.sort_values(by = "target")
cd2

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.000000,25.000000,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.000000,37.000000,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.000000,12.000000,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.000000,20.000000,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.000000,5.000000,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [330]:
cd_low = cd2.iloc[:5350,:]
cd_low

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.0,25.0,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.0,37.0,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.0,12.0,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.0,20.0,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.0,5.0,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8406,2273,20170617,6,5,11530,구로구,28.8,23.3,19.5,9.3,23.337850,0.0,2.0,49.0,19.0,3.03545,551.0
2461,2273,20160830,8,1,11590,동작구,25.4,21.3,17.5,7.9,21.678670,0.0,1.6,27.0,10.0,6.08759,480.8
8481,2273,20170621,6,2,11530,구로구,31.0,24.6,21.0,10.0,24.691870,0.0,2.3,59.0,34.0,3.28896,797.1
8451,2274,20170620,6,1,11740,강동구,31.8,25.6,18.8,13.0,27.810800,0.0,1.0,62.0,29.0,3.28563,679.0
7952,2274,20170526,5,4,11305,강북구,23.0,17.9,13.1,9.9,11.854165,0.0,2.9,15.0,5.0,3.75596,560.8

In [331]:
cd_middle = cd2.iloc[5350:10700,:]
cd_middle

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
1293,2274,20160705,7,1,11470,양천구,26.0,23.8,20.9,5.1,25.011750,89.5,1.5,15.000000,7.00,3.98278,525.7
8055,2275,20170531,5,2,11215,광진구,30.0,23.4,17.2,12.8,24.943630,0.0,1.3,32.000000,16.00,4.09286,450.6
9733,2275,20170819,8,5,11350,노원구,27.6,24.4,20.5,7.1,26.589200,0.0,1.0,28.000000,15.00,2.81530,455.7
14865,2275,20180501,5,1,11200,성동구,24.2,21.1,18.0,6.2,21.427490,0.0,1.6,60.583333,51.25,5.82741,24.0
10607,2275,20170929,9,4,11545,금천구,21.2,17.3,12.7,8.5,14.850850,0.0,2.0,15.000000,9.00,4.38306,520.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3951,3370,20161112,11,5,11740,강동구,17.0,11.7,5.2,11.8,10.968220,0.0,1.4,88.000000,37.00,4.34971,16.9
600,3371,20160602,6,3,11680,강남구,29.1,24.1,18.7,10.4,24.650885,0.0,1.9,40.000000,21.00,5.18029,496.2
10175,3371,20170909,9,5,11680,강남구,28.9,24.6,20.1,8.8,26.469580,0.0,1.2,70.000000,37.00,3.68257,507.6
10904,3371,20171020,10,4,11620,관악구,22.0,13.9,8.7,13.3,15.314335,0.0,1.1,29.000000,14.00,4.68327,69.8
14204,3371,20180331,3,5,11620,관악구,19.4,11.9,6.1,13.3,7.212550,0.0,2.0,68.416667,31.50,4.47646,5.5

In [334]:
cd_high = cd2.iloc[10700:,:]
cd_high

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
13135,3372,20180205,2,0,11230,동대문구,-4.5,-8.0,-9.9,5.4,-35.478000,0.0,3.0,22.583333,14.166667,6.72137,5.5
3471,3373,20161020,10,3,11380,은평구,24.9,16.8,9.5,15.4,19.323280,0.0,0.9,63.000000,32.000000,5.74402,260.4
11649,3373,20171123,11,3,11260,중랑구,5.1,1.9,-0.8,5.9,-10.117445,0.5,2.3,22.000000,9.000000,5.06354,5.5
3816,3374,20161105,11,5,11290,성북구,18.2,15.0,12.4,5.8,13.224250,0.0,1.7,74.625000,44.000000,5.10357,8.6
5111,3374,20170105,1,3,11590,동작구,8.5,4.1,-2.6,11.1,6.898235,0.0,0.9,32.000000,24.000000,6.42116,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [ ]:
cd["class"] = [ i for i in cd["target"] 0 if i <= 2274 ]

In [342]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] <= 2274)
         else 1
         if (x['target'] <= 3371)
         else 2, axis = 1)

In [345]:
cd["class"].value_counts()

0    5351
2    5350
1    5349
Name: class, dtype: int64

In [346]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,class
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5,2
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5,2
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5,2
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5,2
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9,0
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9,0
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9,0
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9,0
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9,0

In [347]:
cd.to_csv("C:\dev_python\project\data_final2\data_drop_3class.csv", encoding = 'cp949', index = False)

# Drop (sun, hol) : 2 class

In [10]:
cd = pd.read_csv("data_678_drop_final.csv", encoding = "CP949")
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [11]:
16050 / 2

8025.0

In [12]:
cd2 = cd.sort_values(by = "target")
cd2

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.000000,25.000000,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.000000,37.000000,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.000000,12.000000,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.000000,20.000000,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.000000,5.000000,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [13]:
cd_low = cd2.iloc[:8025,:]
cd_low

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.0,25.0,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.0,37.0,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.0,12.0,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.0,20.0,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.0,5.0,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,2788,20160521,5,5,11290,성북구,29.2,23.5,17.6,11.6,24.852100,0.0,1.4,40.0,25.0,3.74929,407.0
2699,2788,20160909,9,4,11260,중랑구,29.0,24.1,20.6,8.4,25.558060,2.0,1.4,44.0,27.0,4.40975,806.8
11537,2788,20171118,11,5,11440,마포구,2.4,-2.2,-4.9,7.3,-48.234570,0.0,4.9,28.0,19.0,4.63657,5.5
10139,2788,20170907,9,3,11650,서초구,27.6,22.4,17.2,10.4,24.304360,0.0,1.1,35.0,21.0,4.25297,509.6
9567,2789,20170810,8,3,11710,송파구,26.4,24.8,23.6,2.8,26.689040,9.5,1.2,8.0,5.0,3.00543,211.8

In [15]:
cd_middle = cd2.iloc[8025:]
cd_middle

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
13191,2789,20180207,2,2,11290,성북구,-2.8,-7.8,-13.4,10.6,-11.975480,0.0,1.4,42.583333,24.875000,5.03352,5.5
8241,2789,20170609,6,4,11290,성북구,25.6,20.8,17.3,8.3,18.240200,0.0,2.5,63.000000,41.000000,3.58584,487.6
666,2789,20160604,6,5,11290,성북구,25.4,21.0,17.7,7.7,22.823650,0.0,1.1,54.000000,26.000000,3.73594,558.4
11284,2790,20171107,11,1,11320,도봉구,17.3,12.8,7.0,10.3,17.927800,0.0,0.5,34.000000,20.000000,5.48383,5.5
10121,2790,20170906,9,2,11380,은평구,23.6,18.9,15.8,7.8,23.703505,1.0,0.3,23.000000,16.000000,3.91607,506.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [16]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] <= 2788)
         else 1, axis = 1)

In [17]:
cd["class"].value_counts()

1    8026
0    8024
Name: class, dtype: int64

In [18]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,class
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5,1
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5,1
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5,1
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5,1
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9,0
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9,0
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9,0
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9,0
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9,0

In [20]:
cd.to_csv("data_drop_2class.csv", encoding = 'cp949', index = False)

# Drop (sun, hol) : 3 class

In [6]:
cd = pd.read_csv("data_678_drop_final.csv", encoding = "CP949")
cd.head()

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.26358,21.0,1.4,44.0,26.0,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.92513,21.0,1.6,50.0,26.0,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.51577,22.0,1.7,38.0,21.0,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.42364,15.0,2.6,49.0,23.0,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.33131,22.5,2.3,44.0,25.0,4.79001,273.5

In [321]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [288]:
16050 / 3

5350.0

In [327]:
cd2 = cd.sort_values(by = "target")
cd2

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.000000,25.000000,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.000000,37.000000,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.000000,12.000000,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.000000,20.000000,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.000000,5.000000,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [330]:
cd_low = cd2.iloc[:5350,:]
cd_low

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.0,25.0,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.0,37.0,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.0,12.0,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.0,20.0,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.0,5.0,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8406,2273,20170617,6,5,11530,구로구,28.8,23.3,19.5,9.3,23.337850,0.0,2.0,49.0,19.0,3.03545,551.0
2461,2273,20160830,8,1,11590,동작구,25.4,21.3,17.5,7.9,21.678670,0.0,1.6,27.0,10.0,6.08759,480.8
8481,2273,20170621,6,2,11530,구로구,31.0,24.6,21.0,10.0,24.691870,0.0,2.3,59.0,34.0,3.28896,797.1
8451,2274,20170620,6,1,11740,강동구,31.8,25.6,18.8,13.0,27.810800,0.0,1.0,62.0,29.0,3.28563,679.0
7952,2274,20170526,5,4,11305,강북구,23.0,17.9,13.1,9.9,11.854165,0.0,2.9,15.0,5.0,3.75596,560.8

In [331]:
cd_middle = cd2.iloc[5350:10700,:]
cd_middle

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
1293,2274,20160705,7,1,11470,양천구,26.0,23.8,20.9,5.1,25.011750,89.5,1.5,15.000000,7.00,3.98278,525.7
8055,2275,20170531,5,2,11215,광진구,30.0,23.4,17.2,12.8,24.943630,0.0,1.3,32.000000,16.00,4.09286,450.6
9733,2275,20170819,8,5,11350,노원구,27.6,24.4,20.5,7.1,26.589200,0.0,1.0,28.000000,15.00,2.81530,455.7
14865,2275,20180501,5,1,11200,성동구,24.2,21.1,18.0,6.2,21.427490,0.0,1.6,60.583333,51.25,5.82741,24.0
10607,2275,20170929,9,4,11545,금천구,21.2,17.3,12.7,8.5,14.850850,0.0,2.0,15.000000,9.00,4.38306,520.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3951,3370,20161112,11,5,11740,강동구,17.0,11.7,5.2,11.8,10.968220,0.0,1.4,88.000000,37.00,4.34971,16.9
600,3371,20160602,6,3,11680,강남구,29.1,24.1,18.7,10.4,24.650885,0.0,1.9,40.000000,21.00,5.18029,496.2
10175,3371,20170909,9,5,11680,강남구,28.9,24.6,20.1,8.8,26.469580,0.0,1.2,70.000000,37.00,3.68257,507.6
10904,3371,20171020,10,4,11620,관악구,22.0,13.9,8.7,13.3,15.314335,0.0,1.1,29.000000,14.00,4.68327,69.8
14204,3371,20180331,3,5,11620,관악구,19.4,11.9,6.1,13.3,7.212550,0.0,2.0,68.416667,31.50,4.47646,5.5

In [334]:
cd_high = cd2.iloc[10700:,:]
cd_high

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
13135,3372,20180205,2,0,11230,동대문구,-4.5,-8.0,-9.9,5.4,-35.478000,0.0,3.0,22.583333,14.166667,6.72137,5.5
3471,3373,20161020,10,3,11380,은평구,24.9,16.8,9.5,15.4,19.323280,0.0,0.9,63.000000,32.000000,5.74402,260.4
11649,3373,20171123,11,3,11260,중랑구,5.1,1.9,-0.8,5.9,-10.117445,0.5,2.3,22.000000,9.000000,5.06354,5.5
3816,3374,20161105,11,5,11290,성북구,18.2,15.0,12.4,5.8,13.224250,0.0,1.7,74.625000,44.000000,5.10357,8.6
5111,3374,20170105,1,3,11590,동작구,8.5,4.1,-2.6,11.1,6.898235,0.0,0.9,32.000000,24.000000,6.42116,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [ ]:
cd["class"] = [ i for i in cd["target"] 0 if i <= 2274 ]

In [342]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] <= 2274)
         else 1
         if (x['target'] <= 3371)
         else 2, axis = 1)

In [345]:
cd["class"].value_counts()

0    5351
2    5350
1    5349
Name: class, dtype: int64

In [346]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,class
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5,2
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5,2
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5,2
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5,2
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9,0
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9,0
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9,0
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9,0
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9,0

In [347]:
cd.to_csv("C:\dev_python\project\data_final2\data_drop_3class.csv", encoding = 'cp949', index = False)

# Drop (sun, hol) : 2 class

In [10]:
cd = pd.read_csv("data_678_drop_final.csv", encoding = "CP949")
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [11]:
16050 / 2

8025.0

In [12]:
cd2 = cd.sort_values(by = "target")
cd2

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.000000,25.000000,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.000000,37.000000,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.000000,12.000000,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.000000,20.000000,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.000000,5.000000,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [13]:
cd_low = cd2.iloc[:8025,:]
cd_low

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
2147,362,20160813,8,5,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.0,25.0,4.30968,323.8
1998,378,20160806,8,5,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.0,37.0,4.08285,346.8
2148,387,20160813,8,5,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.0,12.0,4.30968,323.8
9473,400,20170805,8,5,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.0,20.0,3.18556,380.0
9623,406,20170812,8,5,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.0,5.0,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,2788,20160521,5,5,11290,성북구,29.2,23.5,17.6,11.6,24.852100,0.0,1.4,40.0,25.0,3.74929,407.0
2699,2788,20160909,9,4,11260,중랑구,29.0,24.1,20.6,8.4,25.558060,2.0,1.4,44.0,27.0,4.40975,806.8
11537,2788,20171118,11,5,11440,마포구,2.4,-2.2,-4.9,7.3,-48.234570,0.0,4.9,28.0,19.0,4.63657,5.5
10139,2788,20170907,9,3,11650,서초구,27.6,22.4,17.2,10.4,24.304360,0.0,1.1,35.0,21.0,4.25297,509.6
9567,2789,20170810,8,3,11710,송파구,26.4,24.8,23.6,2.8,26.689040,9.5,1.2,8.0,5.0,3.00543,211.8

In [15]:
cd_middle = cd2.iloc[8025:]
cd_middle

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
13191,2789,20180207,2,2,11290,성북구,-2.8,-7.8,-13.4,10.6,-11.975480,0.0,1.4,42.583333,24.875000,5.03352,5.5
8241,2789,20170609,6,4,11290,성북구,25.6,20.8,17.3,8.3,18.240200,0.0,2.5,63.000000,41.000000,3.58584,487.6
666,2789,20160604,6,5,11290,성북구,25.4,21.0,17.7,7.7,22.823650,0.0,1.1,54.000000,26.000000,3.73594,558.4
11284,2790,20171107,11,1,11320,도봉구,17.3,12.8,7.0,10.3,17.927800,0.0,0.5,34.000000,20.000000,5.48383,5.5
10121,2790,20170906,9,2,11380,은평구,23.6,18.9,15.8,7.8,23.703505,1.0,0.3,23.000000,16.000000,3.91607,506.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,12212,20171226,12,1,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
4728,12342,20161219,12,0,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
12417,12352,20180102,1,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
12292,12482,20171226,12,1,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
4742,12762,20161219,12,0,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [16]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] <= 2788)
         else 1, axis = 1)

In [17]:
cd["class"].value_counts()

1    8026
0    8024
Name: class, dtype: int64

In [18]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,class
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5,1
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5,1
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5,1
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5,1
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9,0
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9,0
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9,0
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9,0
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9,0

In [20]:
cd.to_csv("data_drop_2class.csv", encoding = 'cp949', index = False)

# Real : 3 class

In [27]:
cd = pd.read_csv("REAL_DATA.csv", encoding = "CP949")
cd.head()

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
0,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.17021,1호선,152,종각,37022,21002,16020,1.0,5.80072
1,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.17021,1호선,153,종로3가,33087,18000,15087,1.0,5.80072
2,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.17021,3호선,319,종로3가,7202,2749,4453,1.0,5.80072
3,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.17021,5호선,2535,종로3가,14097,7415,6682,1.0,5.80072
4,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.17021,1호선,154,종로5가,18626,9448,9178,1.0,5.80072

In [28]:
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
0,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,152,종각,37022,21002,16020,1.0,5.80072
1,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,153,종로3가,33087,18000,15087,1.0,5.80072
2,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,3호선,319,종로3가,7202,2749,4453,1.0,5.80072
3,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,5호선,2535,종로3가,14097,7415,6682,1.0,5.80072
4,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,154,종로5가,18626,9448,9178,1.0,5.80072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157639,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2553,고덕,13412,6831,6581,869.9,3.15220
157640,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2554,상일동,16928,9165,7763,869.9,3.15220
157641,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2555,둔촌동,15543,7782,7761,869.9,3.15220
157642,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,8호선,2811,암사,26411,13949,12462,869.9,3.15220
157643,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,8호선,2813,강동구청,13034,7174,5860,869.9,3.15220

In [30]:
cd2 = cd.sort_values(by = "target")
cd2

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
117920,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,5호선,2535,종로3가,10384,5262,5122,5.5,3.74595
117928,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,4호선,420,혜화,27556,13205,14351,5.5,3.74595
117927,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,3호선,318,안국,22256,10946,11310,5.5,3.74595
117926,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,6호선,2637,동묘앞,7637,3946,3691,5.5,3.74595
117925,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,1호선,159,동묘앞,10435,5073,5362,5.5,3.74595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102915,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,8호선,2819,문정,38037,18701,19336,5.5,9.53667
102914,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,3호선,342,오금,14706,7804,6902,5.5,9.53667
102919,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2559,개롱,16236,8175,8061,5.5,9.53667
102908,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,9호선2단계,4130,종합운동장,12570,6823,5747,5.5,9.53667
102920,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2560,거여,15566,7979,7587,5.5,9.53667

In [31]:
157644  / 3

52548.0

In [32]:
cd_low = cd2.iloc[:52548,:]
cd_low

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
117920,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,5호선,2535,종로3가,10384,5262,5122,5.5,3.74595
117928,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,4호선,420,혜화,27556,13205,14351,5.5,3.74595
117927,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,3호선,318,안국,22256,10946,11310,5.5,3.74595
117926,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,6호선,2637,동묘앞,7637,3946,3691,5.5,3.74595
117925,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,1호선,159,동묘앞,10435,5073,5362,5.5,3.74595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23463,20170325,3,11170,1746,용산구,6.2,8.8,2.82760,0.0,2.0,...,24589.99018,12965.795580,4호선,428,삼각지,11045,4635,6410,15.1,5.51052
23462,20170325,3,11170,1746,용산구,6.2,8.8,2.82760,0.0,2.0,...,24589.99018,12965.795580,6호선,2629,삼각지,16241,9543,6698,15.1,5.51052
55252,20170715,7,11560,1746,영등포구,4.7,25.2,27.12796,28.5,1.2,...,41315.48783,6621.237888,7호선,2745,신풍,18395,9273,9122,935.0,2.51175
156065,20180625,6,11545,1746,금천구,10.7,27.3,29.32318,0.0,1.4,...,15868.97109,1463.010575,경부선,1702,가산디지털단지,42710,19781,22929,969.2,3.93275
156066,20180625,6,11545,1746,금천구,10.7,27.3,29.32318,0.0,1.4,...,15868.97109,1463.010575,7호선,2748,가산디지털단지,100697,50035,50662,969.2,3.93275

In [33]:
cd_middle = cd2.iloc[52548:-52548,:]
cd_middle

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
156067,20180625,6,11545,1746,금천구,10.7,27.3,29.32318,0.0,1.4,...,15868.97109,1463.010575,경부선,1703,금천구청,25373,12994,12379,969.2,3.93275
156068,20180625,6,11545,1746,금천구,10.7,27.3,29.32318,0.0,1.4,...,15868.97109,1463.010575,경부선,1714,독산,39993,19526,20467,969.2,3.93275
55251,20170715,7,11560,1746,영등포구,4.7,25.2,27.12796,28.5,1.2,...,41315.48783,6621.237888,9호선,4116,샛강,5720,2827,2893,935.0,2.51175
55250,20170715,7,11560,1746,영등포구,4.7,25.2,27.12796,28.5,1.2,...,41315.48783,6621.237888,9호선,4114,국회의사당,10656,5328,5328,935.0,2.51175
55249,20170715,7,11560,1746,영등포구,4.7,25.2,27.12796,28.5,1.2,...,41315.48783,6621.237888,9호선,4112,선유도,7302,3668,3634,935.0,2.51175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25587,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,경부선,1006,영등포,125095,60477,64618,11.8,5.12692
25588,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,2호선,235,문래,27189,13475,13714,11.8,5.12692
25590,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,경부선,1032,신길,17157,9321,7836,11.8,5.12692
68564,20170831,8,11680,3303,강남구,10.6,22.8,24.49444,0.0,1.2,...,25612.48520,26945.438050,7호선,2734,논현,47486,22661,24825,204.0,4.54318
25592,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,중앙선,1217,양평,8220,4094,4126,11.8,5.12692

In [34]:
cd_high = cd2.iloc[-52548:,:]
cd_high

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
25593,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,5호선,2525,영등포시장,16845,7957,8888,11.8,5.12692
25594,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,5호선,2527,여의도,31474,14313,17161,11.8,5.12692
25595,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,9호선,4115,여의도,24963,12521,12442,11.8,5.12692
25596,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,5호선,2528,여의나루,51197,25453,25744,11.8,5.12692
25597,20170401,4,11560,3303,영등포구,9.1,9.8,10.22954,0.0,1.2,...,41158.83144,7295.960854,9호선,4112,선유도,8427,4199,4228,11.8,5.12692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102915,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,8호선,2819,문정,38037,18701,19336,5.5,9.53667
102914,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,3호선,342,오금,14706,7804,6902,5.5,9.53667
102919,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2559,개롱,16236,8175,8061,5.5,9.53667
102908,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,9호선2단계,4130,종합운동장,12570,6823,5747,5.5,9.53667
102920,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2560,거여,15566,7979,7587,5.5,9.53667

In [37]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] < 1746)
         else 1
         if (x['target'] < 3303)
         else 2, axis = 1)

In [38]:
cd["class"].value_counts()

2    52574
1    52542
0    52528
Name: class, dtype: int64

In [39]:
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,class
0,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,21814.170210,1호선,152,종각,37022,21002,16020,1.0,5.80072,0
1,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,21814.170210,1호선,153,종로3가,33087,18000,15087,1.0,5.80072,0
2,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,21814.170210,3호선,319,종로3가,7202,2749,4453,1.0,5.80072,0
3,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,21814.170210,5호선,2535,종로3가,14097,7415,6682,1.0,5.80072,0
4,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,21814.170210,1호선,154,종로5가,18626,9448,9178,1.0,5.80072,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157639,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,5호선,2553,고덕,13412,6831,6581,869.9,3.15220,1
157640,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,5호선,2554,상일동,16928,9165,7763,869.9,3.15220,1
157641,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,5호선,2555,둔촌동,15543,7782,7761,869.9,3.15220,1
157642,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,8호선,2811,암사,26411,13949,12462,869.9,3.15220,1
157643,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,8호선,2813,강동구청,13034,7174,5860,869.9,3.15220,1

In [41]:
cd.to_csv("data_real_3class.csv", encoding = 'cp949', index = False)

# Real : 2 class

In [42]:
cd = pd.read_csv("REAL_DATA.csv", encoding = "CP949")
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
0,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,152,종각,37022,21002,16020,1.0,5.80072
1,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,153,종로3가,33087,18000,15087,1.0,5.80072
2,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,3호선,319,종로3가,7202,2749,4453,1.0,5.80072
3,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,5호선,2535,종로3가,14097,7415,6682,1.0,5.80072
4,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,154,종로5가,18626,9448,9178,1.0,5.80072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157639,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2553,고덕,13412,6831,6581,869.9,3.15220
157640,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2554,상일동,16928,9165,7763,869.9,3.15220
157641,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2555,둔촌동,15543,7782,7761,869.9,3.15220
157642,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,8호선,2811,암사,26411,13949,12462,869.9,3.15220
157643,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,8호선,2813,강동구청,13034,7174,5860,869.9,3.15220

In [43]:
157644  / 2

78822.0

In [44]:
cd2 = cd.sort_values(by = "target")
cd2

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
117920,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,5호선,2535,종로3가,10384,5262,5122,5.5,3.74595
117928,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,4호선,420,혜화,27556,13205,14351,5.5,3.74595
117927,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,3호선,318,안국,22256,10946,11310,5.5,3.74595
117926,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,6호선,2637,동묘앞,7637,3946,3691,5.5,3.74595
117925,20180216,2,11110,32,종로구,7.6,-2.6,-14.53779,0.0,2.1,...,17788.95413,15594.372540,1호선,159,동묘앞,10435,5073,5362,5.5,3.74595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102915,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,8호선,2819,문정,38037,18701,19336,5.5,9.53667
102914,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,3호선,342,오금,14706,7804,6902,5.5,9.53667
102919,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2559,개롱,16236,8175,8061,5.5,9.53667
102908,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,9호선2단계,4130,종합운동장,12570,6823,5747,5.5,9.53667
102920,20171226,12,11710,12482,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2560,거여,15566,7979,7587,5.5,9.53667

In [45]:
cd_low = cd2.iloc[:78822,:]
cd_low

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
117920,20180216,2,11110,32,종로구,7.6,-2.6,-14.537790,0.0,2.1,...,17788.954130,15594.372540,5호선,2535,종로3가,10384,5262,5122,5.5,3.74595
117928,20180216,2,11110,32,종로구,7.6,-2.6,-14.537790,0.0,2.1,...,17788.954130,15594.372540,4호선,420,혜화,27556,13205,14351,5.5,3.74595
117927,20180216,2,11110,32,종로구,7.6,-2.6,-14.537790,0.0,2.1,...,17788.954130,15594.372540,3호선,318,안국,22256,10946,11310,5.5,3.74595
117926,20180216,2,11110,32,종로구,7.6,-2.6,-14.537790,0.0,2.1,...,17788.954130,15594.372540,6호선,2637,동묘앞,7637,3946,3691,5.5,3.74595
117925,20180216,2,11110,32,종로구,7.6,-2.6,-14.537790,0.0,2.1,...,17788.954130,15594.372540,1호선,159,동묘앞,10435,5073,5362,5.5,3.74595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35491,20170506,5,11590,2596,동작구,11.8,14.7,8.402425,0.0,2.5,...,13685.821900,2724.111788,7호선,2739,남성,15257,7821,7436,448.8,4.45645
13624,20170218,2,11260,2596,중랑구,8.4,-0.8,-15.426480,0.0,2.4,...,5591.623354,477.474367,7호선,2725,용마산,10284,5299,4985,1.6,3.74261
13623,20170218,2,11260,2596,중랑구,8.4,-0.8,-15.426480,0.0,2.4,...,5591.623354,477.474367,7호선,2724,사가정,28947,14663,14284,1.6,3.74261
13618,20170218,2,11260,2596,중랑구,8.4,-0.8,-15.426480,0.0,2.4,...,5591.623354,477.474367,중앙선,1203,망우,16682,8331,8351,1.6,3.74261
153910,20180618,6,11320,2596,도봉구,12.6,23.8,25.978400,0.0,1.0,...,2805.928754,511.807829,4호선,412,창동,66825,32178,34647,395.1,3.76930

In [46]:
cd_middle = cd2.iloc[78822:]
cd_middle

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
35485,20170506,5,11590,2596,동작구,11.8,14.7,8.402425,0.0,2.5,...,13685.821900,2724.111788,2호선,226,사당,61445,28261,33184,448.8,4.45645
12779,20170215,2,11290,2596,성북구,10.4,2.1,5.995270,0.0,0.8,...,15524.658640,1893.648725,6호선,2644,돌곶이,20521,10654,9867,0.7,4.29634
13619,20170218,2,11260,2596,중랑구,8.4,-0.8,-15.426480,0.0,2.4,...,5591.623354,477.474367,중앙선,1204,양원,2852,1455,1397,1.6,3.74261
13620,20170218,2,11260,2596,중랑구,8.4,-0.8,-15.426480,0.0,2.4,...,5591.623354,477.474367,7호선,2720,먹골,20190,10239,9951,1.6,3.74261
13621,20170218,2,11260,2596,중랑구,8.4,-0.8,-15.426480,0.0,2.4,...,5591.623354,477.474367,7호선,2721,중화,18981,9871,9110,1.6,3.74261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102915,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.704370,6943.113017,8호선,2819,문정,38037,18701,19336,5.5,9.53667
102914,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.704370,6943.113017,3호선,342,오금,14706,7804,6902,5.5,9.53667
102919,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.704370,6943.113017,5호선,2559,개롱,16236,8175,8061,5.5,9.53667
102908,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.704370,6943.113017,9호선2단계,4130,종합운동장,12570,6823,5747,5.5,9.53667
102920,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.704370,6943.113017,5호선,2560,거여,15566,7979,7587,5.5,9.53667

In [51]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] <= 2596)
         else 1, axis = 1)

In [52]:
cd["class"].value_counts()

0    78846
1    78798
Name: class, dtype: int64

In [18]:
cd

,target,date,month,요일,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,class
0,6421,20160502,5,0,11680,강남구,28.5,21.3,17.5,11.0,22.263580,21.0,1.4,44.000000,26.000000,4.79001,273.5,1
1,5264,20160502,5,0,11740,강동구,28.3,20.7,15.3,13.0,20.925130,21.0,1.6,50.000000,26.000000,4.79001,273.5,1
2,3723,20160502,5,0,11305,강북구,28.6,21.4,17.3,11.3,21.515770,22.0,1.7,38.000000,21.000000,4.79001,273.5,1
3,7800,20160502,5,0,11500,강서구,27.8,21.1,17.5,10.3,18.423640,15.0,2.6,49.000000,23.000000,4.79001,273.5,1
4,5908,20160502,5,0,11620,관악구,26.8,19.8,15.6,11.2,17.331310,22.5,2.3,44.000000,25.000000,4.79001,273.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,863,20180630,6,5,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9,0
16046,2028,20180630,6,5,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9,0
16047,508,20180630,6,5,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9,0
16048,492,20180630,6,5,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9,0
16049,1787,20180630,6,5,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9,0

In [53]:
cd.to_csv("data_real_2class.csv", encoding = 'cp949', index = False)

# Real (sun, hol) : 3 class

In [54]:
cd = pd.read_csv("REAL_DATA_DROP_sun_hol.csv", encoding = "CP949")
cd.head()

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
0,20170102,1,11110,1912,종로구,6.2,4.0,-1.0268,0.0,1.7,...,종각,100401,51435,48966,1.1,7.78878,2017,1,2,0
1,20170102,1,11110,1912,종로구,6.2,4.0,-1.0268,0.0,1.7,...,종로3가,22692,9942,12750,1.1,7.78878,2017,1,2,0
2,20170102,1,11110,1912,종로구,6.2,4.0,-1.0268,0.0,1.7,...,종로3가,74417,38396,36021,1.1,7.78878,2017,1,2,0
3,20170102,1,11110,1912,종로구,6.2,4.0,-1.0268,0.0,1.7,...,종로3가,29135,14540,14595,1.1,7.78878,2017,1,2,0
4,20170102,1,11110,1912,종로구,6.2,4.0,-1.0268,0.0,1.7,...,종로5가,52221,26030,26191,1.1,7.78878,2017,1,2,0

In [55]:
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
0,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종각,100401,51435,48966,1.1,7.78878,2017,1,2,0
1,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로3가,22692,9942,12750,1.1,7.78878,2017,1,2,0
2,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로3가,74417,38396,36021,1.1,7.78878,2017,1,2,0
3,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로3가,29135,14540,14595,1.1,7.78878,2017,1,2,0
4,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로5가,52221,26030,26191,1.1,7.78878,2017,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127296,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,고덕,13412,6831,6581,869.9,3.15220,2018,6,30,5
127297,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,상일동,16928,9165,7763,869.9,3.15220,2018,6,30,5
127298,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,둔촌동,15543,7782,7761,869.9,3.15220,2018,6,30,5
127299,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,암사,26411,13949,12462,869.9,3.15220,2018,6,30,5
127300,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,강동구청,13034,7174,5860,869.9,3.15220,2018,6,30,5

In [56]:
127301  / 3

42433.666666666664

In [57]:
cd2 = cd.sort_values(by = "target")
cd2

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
49997,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,5030,2610,2420,380.0,3.18556,2017,8,5,5
50001,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,청구,5253,2759,2494,380.0,3.18556,2017,8,5,5
50000,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,명동,68977,32622,36355,380.0,3.18556,2017,8,5,5
49999,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,충무로,36460,17908,18552,380.0,3.18556,2017,8,5,5
49998,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,19222,10055,9167,380.0,3.18556,2017,8,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83153,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,23969,10910,13059,5.5,9.53667,2017,12,26,1
83152,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,12570,6823,5747,5.5,9.53667,2017,12,26,1
83168,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,잠실새내,59846,29978,29868,5.5,9.53667,2017,12,26,1
83158,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,오금,14706,7804,6902,5.5,9.53667,2017,12,26,1
83167,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,송파,12595,6308,6287,5.5,9.53667,2017,12,26,1

In [58]:
cd_low = cd2.iloc[:42433,:]
cd_low

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
49997,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,5030,2610,2420,380.0,3.18556,2017,8,5,5
50001,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,청구,5253,2759,2494,380.0,3.18556,2017,8,5,5
50000,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,명동,68977,32622,36355,380.0,3.18556,2017,8,5,5
49999,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,충무로,36460,17908,18552,380.0,3.18556,2017,8,5,5
49998,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,19222,10055,9167,380.0,3.18556,2017,8,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29168,20170510,5,11320,2423,도봉구,8.0,16.3,16.871285,0.5,1.3,...,방학,23788,12128,11660,559.8,3.81266,2017,5,10,2
29167,20170510,5,11320,2423,도봉구,8.0,16.3,16.871285,0.5,1.3,...,도봉산,13686,8459,5227,559.8,3.81266,2017,5,10,2
66647,20171019,10,11560,2423,영등포구,8.0,17.7,21.074185,0.0,0.7,...,신풍,25282,13017,12265,66.5,4.75666,2017,10,19,3
29166,20170510,5,11320,2423,도봉구,8.0,16.3,16.871285,0.5,1.3,...,도봉산,24158,11359,12799,559.8,3.81266,2017,5,10,2
29164,20170510,5,11320,2423,도봉구,8.0,16.3,16.871285,0.5,1.3,...,쌍문,74430,39814,34616,559.8,3.81266,2017,5,10,2

In [59]:
cd_middle = cd2.iloc[42433:-42433,:]
cd_middle

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
66638,20171019,10,11560,2423,영등포구,8.0,17.7,21.074185,0.0,0.7,...,양평,15080,7463,7617,66.5,4.75666,2017,10,19,3
66637,20171019,10,11560,2423,영등포구,8.0,17.7,21.074185,0.0,0.7,...,신길,22304,12154,10150,66.5,4.75666,2017,10,19,3
66636,20171019,10,11560,2423,영등포구,8.0,17.7,21.074185,0.0,0.7,...,신길,8465,3876,4589,66.5,4.75666,2017,10,19,3
66044,20171017,10,11560,2423,영등포구,11.5,17.0,19.981900,0.0,0.8,...,당산,39846,20357,19489,69.8,5.21031,2017,10,17,1
2620,20170112,1,11305,2423,강북구,6.5,-1.4,-21.140380,0.0,2.8,...,미아사거리,70309,35505,34804,2.6,5.93748,2017,1,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99217,20180306,3,11500,3612,강서구,11.5,4.2,1.173250,0.0,1.5,...,가양,47203,23989,23214,5.5,3.66589,2018,3,6,1
99213,20180306,3,11500,3612,강서구,11.5,4.2,1.173250,0.0,1.5,...,공항시장,6860,3159,3701,5.5,3.66589,2018,3,6,1
99214,20180306,3,11500,3612,강서구,11.5,4.2,1.173250,0.0,1.5,...,신방화,19193,9713,9480,5.5,3.66589,2018,3,6,1
99215,20180306,3,11500,3612,강서구,11.5,4.2,1.173250,0.0,1.5,...,마곡나루,16785,8675,8110,5.5,3.66589,2018,3,6,1
99218,20180306,3,11500,3612,강서구,11.5,4.2,1.173250,0.0,1.5,...,증미,17081,8453,8628,5.5,3.66589,2018,3,6,1

In [60]:
cd_high = cd2.iloc[-42433:,:]
cd_high

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
99219,20180306,3,11500,3612,강서구,11.5,4.2,1.173250,0.0,1.5,...,등촌,25177,12566,12611,5.5,3.66589,2018,3,6,1
30340,20170515,5,11440,3613,마포구,8.3,15.7,8.471690,0.0,2.8,...,신촌,106156,52527,53629,110.1,5.38376,2017,5,15,0
70336,20171103,11,11290,3613,성북구,10.4,11.9,2.556395,1.5,2.7,...,길음,57889,29589,28300,5.5,5.21031,2017,11,3,4
30346,20170515,5,11440,3613,마포구,8.3,15.7,8.471690,0.0,2.8,...,공덕,5952,2939,3013,110.1,5.38376,2017,5,15,0
30347,20170515,5,11440,3613,마포구,8.3,15.7,8.471690,0.0,2.8,...,공덕,4473,1998,2475,110.1,5.38376,2017,5,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83153,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,23969,10910,13059,5.5,9.53667,2017,12,26,1
83152,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,12570,6823,5747,5.5,9.53667,2017,12,26,1
83168,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,잠실새내,59846,29978,29868,5.5,9.53667,2017,12,26,1
83158,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,오금,14706,7804,6902,5.5,9.53667,2017,12,26,1
83167,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,송파,12595,6308,6287,5.5,9.53667,2017,12,26,1

In [71]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] <= 2423)
         else 1
         if (x['target'] < 3613)
         else 2, axis = 1)

In [72]:
cd["class"].value_counts()

0    42487
2    42432
1    42382
Name: class, dtype: int64

In [74]:
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일,class
0,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,100401,51435,48966,1.1,7.78878,2017,1,2,0,0
1,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,22692,9942,12750,1.1,7.78878,2017,1,2,0,0
2,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,74417,38396,36021,1.1,7.78878,2017,1,2,0,0
3,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,29135,14540,14595,1.1,7.78878,2017,1,2,0,0
4,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,52221,26030,26191,1.1,7.78878,2017,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127296,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,13412,6831,6581,869.9,3.15220,2018,6,30,5,0
127297,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,16928,9165,7763,869.9,3.15220,2018,6,30,5,0
127298,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,15543,7782,7761,869.9,3.15220,2018,6,30,5,0
127299,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,26411,13949,12462,869.9,3.15220,2018,6,30,5,0
127300,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,13034,7174,5860,869.9,3.15220,2018,6,30,5,0

In [76]:
cd.to_csv("data_real_sun_hol_3class.csv", encoding = 'cp949', index = False)

# Real (sun, hol) : 2 class

In [77]:
cd = pd.read_csv("REAL_DATA_DROP_sun_hol.csv", encoding = "CP949")
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
0,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종각,100401,51435,48966,1.1,7.78878,2017,1,2,0
1,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로3가,22692,9942,12750,1.1,7.78878,2017,1,2,0
2,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로3가,74417,38396,36021,1.1,7.78878,2017,1,2,0
3,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로3가,29135,14540,14595,1.1,7.78878,2017,1,2,0
4,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,종로5가,52221,26030,26191,1.1,7.78878,2017,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127296,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,고덕,13412,6831,6581,869.9,3.15220,2018,6,30,5
127297,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,상일동,16928,9165,7763,869.9,3.15220,2018,6,30,5
127298,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,둔촌동,15543,7782,7761,869.9,3.15220,2018,6,30,5
127299,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,암사,26411,13949,12462,869.9,3.15220,2018,6,30,5
127300,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,강동구청,13034,7174,5860,869.9,3.15220,2018,6,30,5

In [78]:
127301 / 2

63650.5

In [79]:
cd2 = cd.sort_values(by = "target")
cd2

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
49997,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,5030,2610,2420,380.0,3.18556,2017,8,5,5
50001,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,청구,5253,2759,2494,380.0,3.18556,2017,8,5,5
50000,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,명동,68977,32622,36355,380.0,3.18556,2017,8,5,5
49999,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,충무로,36460,17908,18552,380.0,3.18556,2017,8,5,5
49998,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,19222,10055,9167,380.0,3.18556,2017,8,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83153,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,23969,10910,13059,5.5,9.53667,2017,12,26,1
83152,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,12570,6823,5747,5.5,9.53667,2017,12,26,1
83168,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,잠실새내,59846,29978,29868,5.5,9.53667,2017,12,26,1
83158,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,오금,14706,7804,6902,5.5,9.53667,2017,12,26,1
83167,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,송파,12595,6308,6287,5.5,9.53667,2017,12,26,1

In [80]:
cd_low = cd2.iloc[:63650,:]
cd_low

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
49997,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,5030,2610,2420,380.0,3.18556,2017,8,5,5
50001,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,청구,5253,2759,2494,380.0,3.18556,2017,8,5,5
50000,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,명동,68977,32622,36355,380.0,3.18556,2017,8,5,5
49999,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,충무로,36460,17908,18552,380.0,3.18556,2017,8,5,5
49998,20170805,8,11140,400,중구,9.1,30.1,33.125845,0.0,2.3,...,약수,19222,10055,9167,380.0,3.18556,2017,8,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,20170331,3,11200,2994,성동구,5.5,9.8,4.242100,2.5,2.0,...,옥수,24112,11757,12355,11.6,5.51052,2017,3,31,4
20373,20170331,3,11200,2994,성동구,5.5,9.8,4.242100,2.5,2.0,...,상왕십리,29762,15356,14406,11.6,5.51052,2017,3,31,4
98568,20180303,3,11350,2994,노원구,19.0,7.1,8.977800,0.0,1.0,...,월계,8682,4570,4112,5.5,3.84602,2018,3,3,5
98565,20180303,3,11350,2994,노원구,19.0,7.1,8.977800,0.0,1.0,...,석계,20075,9653,10422,5.5,3.84602,2018,3,3,5
37361,20170614,6,11350,2994,노원구,14.8,21.3,22.556035,0.0,1.3,...,노원,53034,24864,28170,464.1,3.59918,2017,6,14,2

In [81]:
cd_middle = cd2.iloc[-63650:]
cd_middle

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일
98567,20180303,3,11350,2994,노원구,19.0,7.1,8.977800,0.0,1.0,...,광운대,14608,7431,7177,5.5,3.84602,2018,3,3,5
13824,20170303,3,11740,2994,강동구,12.7,3.5,3.316550,0.0,1.2,...,길동,18187,8940,9247,3.3,3.43573,2017,3,3,4
20383,20170331,3,11200,2994,성동구,5.5,9.8,4.242100,2.5,2.0,...,서울숲,15175,7669,7506,11.6,5.51052,2017,3,31,4
37368,20170614,6,11350,2994,노원구,14.8,21.3,22.556035,0.0,1.3,...,태릉입구,22039,11293,10746,464.1,3.59918,2017,6,14,2
37367,20170614,6,11350,2994,노원구,14.8,21.3,22.556035,0.0,1.3,...,태릉입구,14037,6149,7888,464.1,3.59918,2017,6,14,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83153,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,23969,10910,13059,5.5,9.53667,2017,12,26,1
83152,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,종합운동장,12570,6823,5747,5.5,9.53667,2017,12,26,1
83168,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,잠실새내,59846,29978,29868,5.5,9.53667,2017,12,26,1
83158,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,오금,14706,7804,6902,5.5,9.53667,2017,12,26,1
83167,20171226,12,11710,12482,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,송파,12595,6308,6287,5.5,9.53667,2017,12,26,1

In [84]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target'] < 2994)
         else 1, axis = 1)

In [85]:
cd["class"].value_counts()

1    63662
0    63639
Name: class, dtype: int64

In [86]:
cd

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총승객수,승차총승객수,하차총승객수,모기지수,검색량,y,m,d,요일,class
0,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,100401,51435,48966,1.1,7.78878,2017,1,2,0,0
1,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,22692,9942,12750,1.1,7.78878,2017,1,2,0,0
2,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,74417,38396,36021,1.1,7.78878,2017,1,2,0,0
3,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,29135,14540,14595,1.1,7.78878,2017,1,2,0,0
4,20170102,1,11110,1912,종로구,6.2,4.0,-1.026800,0.0,1.7,...,52221,26030,26191,1.1,7.78878,2017,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127296,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,13412,6831,6581,869.9,3.15220,2018,6,30,5,0
127297,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,16928,9165,7763,869.9,3.15220,2018,6,30,5,0
127298,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,15543,7782,7761,869.9,3.15220,2018,6,30,5,0
127299,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,26411,13949,12462,869.9,3.15220,2018,6,30,5,0
127300,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,13034,7174,5860,869.9,3.15220,2018,6,30,5,0

In [87]:
cd.to_csv("data_real_sun_hol_2class.csv", encoding = 'cp949', index = False)