In [333]:
import pandas as pd
import numpy as np

In [334]:
df2 = pd.read_csv('C:\dev_python\project\data_final\REAL_DATA.csv', encoding = "CP949")
df2

,date,month,gu_code,target,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
0,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,152,종각,37022,21002,16020,1.0,5.80072
1,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,153,종로3가,33087,18000,15087,1.0,5.80072
2,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,3호선,319,종로3가,7202,2749,4453,1.0,5.80072
3,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,5호선,2535,종로3가,14097,7415,6682,1.0,5.80072
4,20170101,1,11110,68,종로구,5.8,2.5,1.181375,0.0,1.3,...,18442.7231,21814.170210,1호선,154,종로5가,18626,9448,9178,1.0,5.80072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157639,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2553,고덕,13412,6831,6581,869.9,3.15220
157640,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2554,상일동,16928,9165,7763,869.9,3.15220
157641,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,5호선,2555,둔촌동,15543,7782,7761,869.9,3.15220
157642,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,8호선,2811,암사,26411,13949,12462,869.9,3.15220
157643,20180630,6,11740,1985,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.6417,1285.288808,8호선,2813,강동구청,13034,7174,5860,869.9,3.15220

In [12]:
df2["체감온도"] = 13.12 + 0.6215*df2["평균기온(°C)"] - 11.37*df2["평균 풍속(m/s)"] \
                        + 0.3965*df2["평균 풍속(m/s)"]*df2["평균기온(°C)"]
df2

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,체감온도
0,20160501,11680,471,강남구,0.0,26.2,14.5,1.7,19.9,0.024000,0.053000,0.400000,0.006000,45.000000,21.000000,3.90606,254.4,19.572445
1,20160501,11740,465,강동구,0.0,26.2,11.6,1.2,18.7,0.026000,0.037000,0.500000,0.004000,51.000000,22.000000,3.90606,254.4,19.995510
2,20160501,11305,434,강북구,0.0,27.2,13.5,2.0,19.6,0.028000,0.052000,0.500000,0.004000,38.000000,20.000000,3.90606,254.4,18.104200
3,20160501,11500,1041,강서구,0.0,25.2,15.4,2.2,19.4,0.018000,0.050000,0.300000,0.006000,46.000000,19.000000,3.90606,254.4,17.085720
4,20160501,11620,415,관악구,0.0,25.6,13.4,3.0,18.7,0.021000,0.055000,0.500000,0.005000,40.000000,21.000000,3.90606,254.4,12.875700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,26.996400
19771,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,26.043325
19772,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,26.702270
19773,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,25.467775
19774,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,26.702270

In [14]:
df2["일교차"] = df2["최고기온(°C)"] - df2["최저기온(°C)"]
df2

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,체감온도,일교차
0,20160501,11680,471,강남구,0.0,26.2,14.5,1.7,19.9,0.024000,0.053000,0.400000,0.006000,45.000000,21.000000,3.90606,254.4,19.572445,11.7
1,20160501,11740,465,강동구,0.0,26.2,11.6,1.2,18.7,0.026000,0.037000,0.500000,0.004000,51.000000,22.000000,3.90606,254.4,19.995510,14.6
2,20160501,11305,434,강북구,0.0,27.2,13.5,2.0,19.6,0.028000,0.052000,0.500000,0.004000,38.000000,20.000000,3.90606,254.4,18.104200,13.7
3,20160501,11500,1041,강서구,0.0,25.2,15.4,2.2,19.4,0.018000,0.050000,0.300000,0.006000,46.000000,19.000000,3.90606,254.4,17.085720,9.8
4,20160501,11620,415,관악구,0.0,25.6,13.4,3.0,18.7,0.021000,0.055000,0.500000,0.005000,40.000000,21.000000,3.90606,254.4,12.875700,12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,26.996400,7.1
19771,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,26.043325,9.2
19772,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,26.702270,7.6
19773,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,25.467775,7.8
19774,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,26.702270,7.6

In [17]:
df2["date"] = df2["date"].astype(str)
df2["month"] = df2["date"].str[4:6]
df2

,date,gu_code,target,gu_name,일강수량(mm),최고기온(°C),최저기온(°C),평균 풍속(m/s),평균기온(°C),이산화질소농도.ppm.,오존농도.ppm.,이산화탄소농도.ppm.,아황산가스.ppm.,미세먼지.....,초미세먼지.....,검색량,모기지수,체감온도,일교차,month
0,20160501,11680,471,강남구,0.0,26.2,14.5,1.7,19.9,0.024000,0.053000,0.400000,0.006000,45.000000,21.000000,3.90606,254.4,19.572445,11.7,05
1,20160501,11740,465,강동구,0.0,26.2,11.6,1.2,18.7,0.026000,0.037000,0.500000,0.004000,51.000000,22.000000,3.90606,254.4,19.995510,14.6,05
2,20160501,11305,434,강북구,0.0,27.2,13.5,2.0,19.6,0.028000,0.052000,0.500000,0.004000,38.000000,20.000000,3.90606,254.4,18.104200,13.7,05
3,20160501,11500,1041,강서구,0.0,25.2,15.4,2.2,19.4,0.018000,0.050000,0.300000,0.006000,46.000000,19.000000,3.90606,254.4,17.085720,9.8,05
4,20160501,11620,415,관악구,0.0,25.6,13.4,3.0,18.7,0.021000,0.055000,0.500000,0.005000,40.000000,21.000000,3.90606,254.4,12.875700,12.2,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,20180630,11170,863,용산구,20.0,29.6,22.5,1.0,24.8,0.031833,0.022750,0.545833,0.003042,52.583333,37.041667,3.15220,869.9,26.996400,7.1,06
19771,20180630,11380,2028,은평구,23.5,27.6,18.4,0.5,22.7,0.020167,0.028000,0.633333,0.003000,43.875000,39.958333,3.15220,869.9,26.043325,9.2,06
19772,20180630,11110,508,종로구,14.0,29.9,22.3,1.6,25.3,0.037625,0.024208,0.629167,0.003750,48.708333,33.125000,3.15220,869.9,26.702270,7.6,06
19773,20180630,11140,492,중구,5.0,28.7,20.9,1.1,23.5,0.038792,0.020333,0.633333,0.003083,60.291667,40.541667,3.15220,869.9,25.467775,7.8,06
19774,20180630,11260,1787,중랑구,14.0,29.9,22.3,1.6,25.3,0.023875,0.024750,0.512500,0.006208,43.541667,32.000000,3.15220,869.9,26.702270,7.6,06

In [18]:
df2.columns = (['date', 'gu_code', 'target', 'gu_name', '강수량(mm)', '최고기온(°C)',
       '최저기온(°C)', '평균풍속(m/s)', '평균기온(°C)', '이산화질소농도.ppm', '오존농도.ppm',
       '이산화탄소농도.ppm', '아황산가스.ppm', '미세먼지', '초미세먼지', '검색량', '모기지수',
       '체감온도', '일교차', 'month'])

In [20]:
df2 = df2[['target', 'date', 'month', 'gu_code', 'gu_name', '최고기온(°C)', '평균기온(°C)',
       '최저기온(°C)', '일교차', '체감온도', '강수량(mm)', '평균풍속(m/s)', '미세먼지', '초미세먼지', '검색량', '모기지수']]
df2

,target,date,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,471,20160501,05,11680,강남구,26.2,19.9,14.5,11.7,19.572445,0.0,1.7,45.000000,21.000000,3.90606,254.4
1,465,20160501,05,11740,강동구,26.2,18.7,11.6,14.6,19.995510,0.0,1.2,51.000000,22.000000,3.90606,254.4
2,434,20160501,05,11305,강북구,27.2,19.6,13.5,13.7,18.104200,0.0,2.0,38.000000,20.000000,3.90606,254.4
3,1041,20160501,05,11500,강서구,25.2,19.4,15.4,9.8,17.085720,0.0,2.2,46.000000,19.000000,3.90606,254.4
4,415,20160501,05,11620,관악구,25.6,18.7,13.4,12.2,12.875700,0.0,3.0,40.000000,21.000000,3.90606,254.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,863,20180630,06,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
19771,2028,20180630,06,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
19772,508,20180630,06,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
19773,492,20180630,06,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
19774,1787,20180630,06,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [21]:
df2.to_csv('C:\dev_python\project\data_final3\data_678.csv', encoding = "CP949")

In [470]:
df = pd.read_csv('C:\dev_python\project\data_final\cold_final.csv', encoding = "CP949")
df.head()

         날짜  시군구지역코드  발생건수(건) 시군구명
0  20140101    11110       53  종로구
1  20140102    11110     1408  종로구
2  20140103    11110     1129  종로구
3  20140104    11110      890  종로구
4  20140105    11110      134  종로구

In [471]:
df.columns = ['date', 'gu_code2', 'target2', 'gu_name2']
df

           date  gu_code2  target2 gu_name2
0      20140101     11110       53      종로구
1      20140102     11110     1408      종로구
2      20140103     11110     1129      종로구
3      20140104     11110      890      종로구
4      20140105     11110      134      종로구
...         ...       ...      ...      ...
41045  20180626     11740     1796      강동구
41046  20180627     11740     2135      강동구
41047  20180628     11740     2025      강동구
41048  20180629     11740     2360      강동구
41049  20180630     11740     1985      강동구

[41050 rows x 4 columns]

In [472]:
df["date"] = df["date"].astype(str)

In [473]:
import datetime

df["date"] = pd.to_datetime(df["date"])
df["요일"] = df["date"].dt.dayofweek
df

            date  gu_code2  target2 gu_name2  요일
0     2014-01-01     11110       53      종로구   2
1     2014-01-02     11110     1408      종로구   3
2     2014-01-03     11110     1129      종로구   4
3     2014-01-04     11110      890      종로구   5
4     2014-01-05     11110      134      종로구   6
...          ...       ...      ...      ...  ..
41045 2018-06-26     11740     1796      강동구   1
41046 2018-06-27     11740     2135      강동구   2
41047 2018-06-28     11740     2025      강동구   3
41048 2018-06-29     11740     2360      강동구   4
41049 2018-06-30     11740     1985      강동구   5

[41050 rows x 5 columns]

In [474]:
df = df.drop(df[(df.요일 == 6)].index, axis=0)
df

            date  gu_code2  target2 gu_name2  요일
0     2014-01-01     11110       53      종로구   2
1     2014-01-02     11110     1408      종로구   3
2     2014-01-03     11110     1129      종로구   4
3     2014-01-04     11110      890      종로구   5
5     2014-01-06     11110     1489      종로구   0
...          ...       ...      ...      ...  ..
41045 2018-06-26     11740     1796      강동구   1
41046 2018-06-27     11740     2135      강동구   2
41047 2018-06-28     11740     2025      강동구   3
41048 2018-06-29     11740     2360      강동구   4
41049 2018-06-30     11740     1985      강동구   5

[35200 rows x 5 columns]

In [475]:
df["date"] = df["date"].astype(str)

df["date"] = df["date"].str[0:4] + df["date"].str[5:7] + df["date"].str[8:10]

df

           date  gu_code2  target2 gu_name2  요일
0      20140101     11110       53      종로구   2
1      20140102     11110     1408      종로구   3
2      20140103     11110     1129      종로구   4
3      20140104     11110      890      종로구   5
5      20140106     11110     1489      종로구   0
...         ...       ...      ...      ...  ..
41045  20180626     11740     1796      강동구   1
41046  20180627     11740     2135      강동구   2
41047  20180628     11740     2025      강동구   3
41048  20180629     11740     2360      강동구   4
41049  20180630     11740     1985      강동구   5

[35200 rows x 5 columns]

In [476]:
df["date"] = df["date"].astype(int)

In [477]:
df_sun_hol = df.drop(df[(df.date == 20160101) | \
                          (df.date == 20160208) | (df.date == 20160209) | (df.date == 20160210) | \
                          (df.date == 20160301) | \
                          (df.date == 20160413) | \
                          (df.date == 20160505) | (df.date == 20160506) | (df.date == 20160514) | \
                          (df.date == 20160606) | \
                          (df.date == 20160815) | \
                          (df.date == 20160914) | (df.date == 20160915) | (df.date == 20160916) | \
                          (df.date == 20161003) | \
                          (df.date == 20170127) | (df.date == 20170128) | (df.date == 20170130) | \
                          (df.date == 20170301) | \
                          (df.date == 20170503) | (df.date == 20170505) | (df.date == 20170509) | \
                          (df.date == 20170606) | \
                          (df.date == 20170815) | \
                          (df.date == 20171002) | (df.date == 20171003) | (df.date == 20171004) | (df.date == 20171005) | (df.date == 20171006) | (df.date == 20171009) | \
                          (df.date == 20171220) | (df.date == 20171225) | \
                          (df.date == 20180101) | \
                          (df.date == 20180215) | (df.date == 20180216) | (df.date == 20180217) | \
                          (df.date == 20180301) | \
                          (df.date == 20180505) | (df.date == 20180507) | (df.date == 20180522) | \
                          (df.date == 20180606) | (df.date == 20180613) | \
                          (df.date == 20180815) | \
                          (df.date == 20180924) | (df.date == 20180925) | (df.date == 20180926) | \
                          (df.date == 20181003) | (df.date == 20181009) | \
                          (df.date == 20181225)].index, axis=0)
df_sun_hol

           date  gu_code2  target2 gu_name2  요일
0      20140101     11110       53      종로구   2
1      20140102     11110     1408      종로구   3
2      20140103     11110     1129      종로구   4
3      20140104     11110      890      종로구   5
5      20140106     11110     1489      종로구   0
...         ...       ...      ...      ...  ..
41045  20180626     11740     1796      강동구   1
41046  20180627     11740     2135      강동구   2
41047  20180628     11740     2025      강동구   3
41048  20180629     11740     2360      강동구   4
41049  20180630     11740     1985      강동구   5

[34150 rows x 5 columns]

In [478]:
df_sun_hol["date2"] = df_sun_hol["date"].astype(str)
df_sun_hol = df_sun_hol.drop('date', axis = 1)
df_sun_hol

       gu_code2  target2 gu_name2  요일     date2
0         11110       53      종로구   2  20140101
1         11110     1408      종로구   3  20140102
2         11110     1129      종로구   4  20140103
3         11110      890      종로구   5  20140104
5         11110     1489      종로구   0  20140106
...         ...      ...      ...  ..       ...
41045     11740     1796      강동구   1  20180626
41046     11740     2135      강동구   2  20180627
41047     11740     2025      강동구   3  20180628
41048     11740     2360      강동구   4  20180629
41049     11740     1985      강동구   5  20180630

[34150 rows x 5 columns]

In [479]:
df_sun_hol.to_csv('C:\dev_python\project\data_final3\cold_sun_hol.csv', encoding = "CP949", index = False)

In [206]:
df_sun_hol["date"] = df_sun_hol["date"].astype(str)

df_sun_hol["date"] = pd.to_datetime(df_sun_hol["date"])

df_sun_hol

            date  gu_code2  target2 gu_name2  요일
0     2014-01-01     11110       53      종로구   2
1     2014-01-02     11110     1408      종로구   3
2     2014-01-03     11110     1129      종로구   4
3     2014-01-04     11110      890      종로구   5
5     2014-01-06     11110     1489      종로구   0
...          ...       ...      ...      ...  ..
41045 2018-06-26     11740     1796      강동구   1
41046 2018-06-27     11740     2135      강동구   2
41047 2018-06-28     11740     2025      강동구   3
41048 2018-06-29     11740     2360      강동구   4
41049 2018-06-30     11740     1985      강동구   5

[34150 rows x 5 columns]

In [207]:
df_sun_hol["date2"] = df_sun_hol["date"] - pd.DateOffset(days=4)
df_sun_hol = df_sun_hol.drop('date', axis =1)
df_sun_hol

       gu_code2  target2 gu_name2  요일      date2
0         11110       53      종로구   2 2013-12-28
1         11110     1408      종로구   3 2013-12-29
2         11110     1129      종로구   4 2013-12-30
3         11110      890      종로구   5 2013-12-31
5         11110     1489      종로구   0 2014-01-02
...         ...      ...      ...  ..        ...
41045     11740     1796      강동구   1 2018-06-22
41046     11740     2135      강동구   2 2018-06-23
41047     11740     2025      강동구   3 2018-06-24
41048     11740     2360      강동구   4 2018-06-25
41049     11740     1985      강동구   5 2018-06-26

[34150 rows x 5 columns]

In [208]:
df_sun_hol["date2"] = df_sun_hol["date2"].astype(str)

df_sun_hol["date2"] = df_sun_hol["date2"].str[0:4] + df_sun_hol["date2"].str[5:7] + df_sun_hol["date2"].str[8:10]

df_sun_hol

       gu_code2  target2 gu_name2  요일     date2
0         11110       53      종로구   2  20131228
1         11110     1408      종로구   3  20131229
2         11110     1129      종로구   4  20131230
3         11110      890      종로구   5  20131231
5         11110     1489      종로구   0  20140102
...         ...      ...      ...  ..       ...
41045     11740     1796      강동구   1  20180622
41046     11740     2135      강동구   2  20180623
41047     11740     2025      강동구   3  20180624
41048     11740     2360      강동구   4  20180625
41049     11740     1985      강동구   5  20180626

[34150 rows x 5 columns]

In [209]:
df_sun_hol.to_csv('C:\dev_python\project\data_final3\cold_sun_hol_4day.csv', encoding = "CP949", index = False)

# MERGE

In [129]:
import pandas as pd

In [498]:
df = pd.read_csv('C:\dev_python\project\data_final3\data_678.csv', encoding = "CP949")
df

,Unnamed: 0,target,date,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,0,471,20160501,5,11680,강남구,26.2,19.9,14.5,11.7,19.572445,0.0,1.7,45.000000,21.000000,3.90606,254.4
1,1,465,20160501,5,11740,강동구,26.2,18.7,11.6,14.6,19.995510,0.0,1.2,51.000000,22.000000,3.90606,254.4
2,2,434,20160501,5,11305,강북구,27.2,19.6,13.5,13.7,18.104200,0.0,2.0,38.000000,20.000000,3.90606,254.4
3,3,1041,20160501,5,11500,강서구,25.2,19.4,15.4,9.8,17.085720,0.0,2.2,46.000000,19.000000,3.90606,254.4
4,4,415,20160501,5,11620,관악구,25.6,18.7,13.4,12.2,12.875700,0.0,3.0,40.000000,21.000000,3.90606,254.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19770,19770,863,20180630,6,11170,용산구,29.6,24.8,22.5,7.1,26.996400,20.0,1.0,52.583333,37.041667,3.15220,869.9
19771,19771,2028,20180630,6,11380,은평구,27.6,22.7,18.4,9.2,26.043325,23.5,0.5,43.875000,39.958333,3.15220,869.9
19772,19772,508,20180630,6,11110,종로구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,48.708333,33.125000,3.15220,869.9
19773,19773,492,20180630,6,11140,중구,28.7,23.5,20.9,7.8,25.467775,5.0,1.1,60.291667,40.541667,3.15220,869.9
19774,19774,1787,20180630,6,11260,중랑구,29.9,25.3,22.3,7.6,26.702270,14.0,1.6,43.541667,32.000000,3.15220,869.9

In [499]:
df_c = pd.read_csv('C:\dev_python\project\data_final3\cold_sun_hol.csv', encoding = "CP949")
df_c

       gu_code2  target2 gu_name2  요일     date2
0         11110       53      종로구   2  20140101
1         11110     1408      종로구   3  20140102
2         11110     1129      종로구   4  20140103
3         11110      890      종로구   5  20140104
4         11110     1489      종로구   0  20140106
...         ...      ...      ...  ..       ...
34145     11740     1796      강동구   1  20180626
34146     11740     2135      강동구   2  20180627
34147     11740     2025      강동구   3  20180628
34148     11740     2360      강동구   4  20180629
34149     11740     1985      강동구   5  20180630

[34150 rows x 5 columns]

In [500]:
df_m = df_c.merge(df, left_on=['date2', 'gu_code2'], right_on=['date', 'gu_code'], how = 'inner') 
df_m = df_m.drop(['gu_code2', 'target', 'date', '요일', 'gu_name2'], axis=1)
df_m

,target2,date2,Unnamed: 0,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,1535,20160502,47,5,11110,종로구,28.7,21.6,17.6,11.1,20.652640,20.5,2.1,43.000000,23.000000,4.79001,273.5
1,878,20160503,72,5,11110,종로구,18.9,13.8,9.7,9.2,-6.025310,29.0,4.7,22.000000,10.000000,4.58320,304.0
2,1232,20160504,97,5,11110,종로구,21.1,16.8,11.2,9.9,0.958960,0.0,4.8,49.000000,8.000000,4.21294,256.2
3,731,20160507,172,5,11110,종로구,23.1,17.5,12.1,11.0,12.918125,0.0,2.5,98.000000,21.000000,3.47910,243.2
4,1459,20160509,222,5,11110,종로구,26.2,21.1,17.0,9.2,20.225950,0.0,2.0,49.000000,19.000000,4.99349,249.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,1796,20180626,19651,6,11740,강동구,26.9,22.4,19.6,7.3,21.567120,76.0,2.2,55.000000,32.458333,3.91941,1000.0
16046,2135,20180627,19676,6,11740,강동구,26.0,22.9,19.3,6.7,23.230080,1.5,1.8,29.833333,19.083333,3.76263,974.7
16047,2025,20180628,19701,6,11740,강동구,27.9,23.2,19.4,8.5,24.716240,15.0,1.3,22.875000,12.958333,3.50245,766.3
16048,2360,20180629,19726,6,11740,강동구,29.7,24.8,20.8,8.9,26.842720,1.0,1.1,40.541667,23.833333,3.23226,817.0
16049,1985,20180630,19751,6,11740,강동구,28.7,24.3,21.4,7.3,25.966885,24.0,1.3,57.375000,32.833333,3.15220,869.9

In [501]:
df_m = df_m.drop(['Unnamed: 0'], axis=1)
df_m

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,1535,20160502,5,11110,종로구,28.7,21.6,17.6,11.1,20.652640,20.5,2.1,43.000000,23.000000,4.79001,273.5
1,878,20160503,5,11110,종로구,18.9,13.8,9.7,9.2,-6.025310,29.0,4.7,22.000000,10.000000,4.58320,304.0
2,1232,20160504,5,11110,종로구,21.1,16.8,11.2,9.9,0.958960,0.0,4.8,49.000000,8.000000,4.21294,256.2
3,731,20160507,5,11110,종로구,23.1,17.5,12.1,11.0,12.918125,0.0,2.5,98.000000,21.000000,3.47910,243.2
4,1459,20160509,5,11110,종로구,26.2,21.1,17.0,9.2,20.225950,0.0,2.0,49.000000,19.000000,4.99349,249.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,1796,20180626,6,11740,강동구,26.9,22.4,19.6,7.3,21.567120,76.0,2.2,55.000000,32.458333,3.91941,1000.0
16046,2135,20180627,6,11740,강동구,26.0,22.9,19.3,6.7,23.230080,1.5,1.8,29.833333,19.083333,3.76263,974.7
16047,2025,20180628,6,11740,강동구,27.9,23.2,19.4,8.5,24.716240,15.0,1.3,22.875000,12.958333,3.50245,766.3
16048,2360,20180629,6,11740,강동구,29.7,24.8,20.8,8.9,26.842720,1.0,1.1,40.541667,23.833333,3.23226,817.0
16049,1985,20180630,6,11740,강동구,28.7,24.3,21.4,7.3,25.966885,24.0,1.3,57.375000,32.833333,3.15220,869.9

In [502]:
df_m.to_csv('C:\dev_python\project\data_final3\data_678_sun_hol.csv', encoding = "CP949", index = False)

# CLASS 30 30 30

In [503]:
cd = pd.read_csv('C:\dev_python\project\data_final3\data_678_sun_hol.csv', encoding = "CP949")
cd

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
0,1535,20160502,5,11110,종로구,28.7,21.6,17.6,11.1,20.652640,20.5,2.1,43.000000,23.000000,4.79001,273.5
1,878,20160503,5,11110,종로구,18.9,13.8,9.7,9.2,-6.025310,29.0,4.7,22.000000,10.000000,4.58320,304.0
2,1232,20160504,5,11110,종로구,21.1,16.8,11.2,9.9,0.958960,0.0,4.8,49.000000,8.000000,4.21294,256.2
3,731,20160507,5,11110,종로구,23.1,17.5,12.1,11.0,12.918125,0.0,2.5,98.000000,21.000000,3.47910,243.2
4,1459,20160509,5,11110,종로구,26.2,21.1,17.0,9.2,20.225950,0.0,2.0,49.000000,19.000000,4.99349,249.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,1796,20180626,6,11740,강동구,26.9,22.4,19.6,7.3,21.567120,76.0,2.2,55.000000,32.458333,3.91941,1000.0
16046,2135,20180627,6,11740,강동구,26.0,22.9,19.3,6.7,23.230080,1.5,1.8,29.833333,19.083333,3.76263,974.7
16047,2025,20180628,6,11740,강동구,27.9,23.2,19.4,8.5,24.716240,15.0,1.3,22.875000,12.958333,3.50245,766.3
16048,2360,20180629,6,11740,강동구,29.7,24.8,20.8,8.9,26.842720,1.0,1.1,40.541667,23.833333,3.23226,817.0
16049,1985,20180630,6,11740,강동구,28.7,24.3,21.4,7.3,25.966885,24.0,1.3,57.375000,32.833333,3.15220,869.9

In [504]:
cd2 = cd.sort_values(by = "target2")
cd2

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
85,362,20160813,8,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.000000,25.000000,4.30968,323.8
721,378,20160806,8,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.000000,37.000000,4.08285,346.8
727,387,20160813,8,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.000000,12.000000,4.30968,323.8
1020,400,20170805,8,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.000000,20.000000,3.18556,380.0
1026,406,20170812,8,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.000000,5.000000,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,12212,20171226,12,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
9819,12342,20161219,12,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
15262,12352,20180102,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
15257,12482,20171226,12,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
14955,12762,20161219,12,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [505]:
16050 / 3

5350.0

In [506]:
cd_low = cd2.iloc[:5350,:]
cd_low

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
85,362,20160813,8,11110,종로구,36.0,31.1,27.5,8.5,34.467065,0.0,2.1,34.000,25.000,4.30968,323.8
721,378,20160806,8,11140,중구,34.1,29.5,26.0,8.1,31.911700,0.0,1.4,63.000,37.000,4.08285,346.8
727,387,20160813,8,11140,중구,35.5,29.2,25.6,9.9,31.496380,0.0,1.1,36.000,12.000,4.30968,323.8
1020,400,20170805,8,11140,중구,35.6,30.1,26.5,9.1,33.125845,0.0,2.3,26.000,20.000,3.18556,380.0
1026,406,20170812,8,11140,중구,31.5,26.2,22.1,9.4,27.145390,0.0,2.3,10.000,5.000,2.45838,252.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10608,2273,20170617,6,11530,구로구,28.8,23.3,19.5,9.3,23.337850,0.0,2.0,49.000,19.000,3.03545,551.0
12748,2273,20180310,3,11590,동작구,10.2,4.4,-2.3,12.5,1.416500,0.0,1.5,43.875,31.125,3.99279,5.5
10611,2273,20170621,6,11530,구로구,31.0,24.6,21.0,10.0,24.691870,0.0,2.3,59.000,34.000,3.28896,797.1
5454,2274,20170526,5,11305,강북구,23.0,17.9,13.1,9.9,11.854165,0.0,2.9,15.000,5.000,3.75596,560.8
9039,2274,20160705,7,11470,양천구,26.0,23.8,20.9,5.1,25.011750,89.5,1.5,15.000,7.000,3.98278,525.7

In [507]:
cd_middle = cd2.iloc[5350:-5350,:]
cd_middle

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
15746,2274,20170620,6,11740,강동구,31.8,25.6,18.8,13.0,27.810800,0.0,1.0,62.000000,29.00,3.28563,679.0
2520,2275,20180501,5,11200,성동구,24.2,21.1,18.0,6.2,21.427490,0.0,1.6,60.583333,51.25,5.82741,24.0
2890,2275,20170531,5,11215,광진구,30.0,23.4,17.2,12.8,24.943630,0.0,1.3,32.000000,16.00,4.09286,450.6
11338,2275,20170929,9,11545,금천구,21.2,17.3,12.7,8.5,14.850850,0.0,2.0,15.000000,9.00,4.38306,520.4
5249,2275,20160920,9,11305,강북구,26.0,20.3,16.3,9.7,17.101720,0.0,2.6,11.000000,6.00,6.97821,682.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4116,3370,20170321,3,11260,중랑구,12.5,8.8,6.0,6.5,1.251440,0.0,2.2,116.000000,76.00,6.08759,11.8
14148,3371,20160602,6,11680,강남구,29.1,24.1,18.7,10.4,24.650885,0.0,1.9,40.000000,21.00,5.18029,496.2
14531,3371,20170909,9,11680,강남구,28.9,24.6,20.1,8.8,26.469580,0.0,1.2,70.000000,37.00,3.68257,507.6
13276,3371,20171020,10,11620,관악구,22.0,13.9,8.7,13.3,15.314335,0.0,1.1,29.000000,14.00,4.68327,69.8
13408,3371,20180331,3,11620,관악구,19.4,11.9,6.1,13.3,7.212550,0.0,2.0,68.416667,31.50,4.47646,5.5

In [508]:
cd_high = cd2.iloc[-5350:,:]
cd_high

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수
3735,3372,20180205,2,11230,동대문구,-4.5,-8.0,-9.9,5.4,-35.478000,0.0,3.0,22.583333,14.166667,6.72137,5.5
4317,3373,20171123,11,11260,중랑구,5.1,1.9,-0.8,5.9,-10.117445,0.5,2.3,22.000000,9.000000,5.06354,5.5
7200,3373,20161020,10,11380,은평구,24.9,16.8,9.5,15.4,19.323280,0.0,0.9,63.000000,32.000000,5.74402,260.4
4646,3374,20161105,11,11290,성북구,18.2,15.0,12.4,5.8,13.224250,0.0,1.7,74.625000,44.000000,5.10357,8.6
6303,3374,20180205,2,11320,도봉구,-4.9,-8.8,-11.3,6.4,-20.581680,0.0,1.9,27.541667,15.166667,6.72137,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,12212,20171226,12,11500,강서구,-0.2,-3.8,-6.7,6.5,-24.008790,0.0,2.7,29.000000,14.347826,9.53667,5.5
9819,12342,20161219,12,11500,강서구,11.8,8.3,5.9,5.9,-4.342890,0.0,2.8,46.000000,25.000000,14.37339,1.7
15262,12352,20180102,1,11710,송파구,2.4,-0.6,-2.8,5.2,-8.147120,0.0,1.8,52.208333,26.875000,10.91764,5.5
15257,12482,20171226,12,11710,송파구,0.9,-2.6,-6.7,7.6,-23.218420,0.0,2.8,34.000000,15.000000,9.53667,5.5
14955,12762,20161219,12,11710,송파구,12.2,8.2,4.8,7.4,10.909470,0.0,0.9,38.000000,24.000000,14.37339,1.7

In [511]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target2'] <= 2274)
         else 1
         if (x['target2'] <= 3372)
         else 2, axis = 1)

In [512]:
cd["class"].value_counts()

0    5351
1    5350
2    5349
Name: class, dtype: int64

In [513]:
cd

,target2,date2,month,gu_code,gu_name,최고기온(°C),평균기온(°C),최저기온(°C),일교차,체감온도,강수량(mm),평균풍속(m/s),미세먼지,초미세먼지,검색량,모기지수,class
0,1535,20160502,5,11110,종로구,28.7,21.6,17.6,11.1,20.652640,20.5,2.1,43.000000,23.000000,4.79001,273.5,0
1,878,20160503,5,11110,종로구,18.9,13.8,9.7,9.2,-6.025310,29.0,4.7,22.000000,10.000000,4.58320,304.0,0
2,1232,20160504,5,11110,종로구,21.1,16.8,11.2,9.9,0.958960,0.0,4.8,49.000000,8.000000,4.21294,256.2,0
3,731,20160507,5,11110,종로구,23.1,17.5,12.1,11.0,12.918125,0.0,2.5,98.000000,21.000000,3.47910,243.2,0
4,1459,20160509,5,11110,종로구,26.2,21.1,17.0,9.2,20.225950,0.0,2.0,49.000000,19.000000,4.99349,249.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,1796,20180626,6,11740,강동구,26.9,22.4,19.6,7.3,21.567120,76.0,2.2,55.000000,32.458333,3.91941,1000.0,0
16046,2135,20180627,6,11740,강동구,26.0,22.9,19.3,6.7,23.230080,1.5,1.8,29.833333,19.083333,3.76263,974.7,0
16047,2025,20180628,6,11740,강동구,27.9,23.2,19.4,8.5,24.716240,15.0,1.3,22.875000,12.958333,3.50245,766.3,0
16048,2360,20180629,6,11740,강동구,29.7,24.8,20.8,8.9,26.842720,1.0,1.1,40.541667,23.833333,3.23226,817.0,1
16049,1985,20180630,6,11740,강동구,28.7,24.3,21.4,7.3,25.966885,24.0,1.3,57.375000,32.833333,3.15220,869.9,0

In [514]:
cd.to_csv("C:\dev_python\project\data_final3\data_678_sun_hol_3class.csv", encoding = 'cp949', index = False)

# CLASS 40 30 20 10

In [2]:
import pandas as pd

In [5]:
cd = pd.read_csv('data_real_sun_hol.csv', encoding = "CP949")
cd

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
0,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,16837.73365,19013.278340,1호선,152,종각,100401,51435,48966,1.1,7.78878
1,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,16837.73365,19013.278340,3호선,319,종로3가,22692,9942,12750,1.1,7.78878
2,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,16837.73365,19013.278340,1호선,153,종로3가,74417,38396,36021,1.1,7.78878
3,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,16837.73365,19013.278340,5호선,2535,종로3가,29135,14540,14595,1.1,7.78878
4,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,16837.73365,19013.278340,1호선,154,종로5가,52221,26030,26191,1.1,7.78878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127296,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.64170,1285.288808,5호선,2553,고덕,13412,6831,6581,869.9,3.15220
127297,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.64170,1285.288808,5호선,2554,상일동,16928,9165,7763,869.9,3.15220
127298,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.64170,1285.288808,5호선,2555,둔촌동,15543,7782,7761,869.9,3.15220
127299,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.64170,1285.288808,8호선,2811,암사,26411,13949,12462,869.9,3.15220
127300,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,11098.64170,1285.288808,8호선,2813,강동구청,13034,7174,5860,869.9,3.15220

In [6]:
cd2 = cd.sort_values(by = "target2")
cd2

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
9402,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,2호선,203,을지로3가,18495,9285,9210,380.0,3.18556
9403,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,5호선,2536,을지로4가,6233,2811,3422,380.0,3.18556
9398,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,1호선,151,시청,27790,14081,13709,380.0,3.18556
9401,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,3호선,320,을지로3가,9837,4880,4957,380.0,3.18556
9400,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,2호선,202,을지로입구,62677,31472,31205,380.0,3.18556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121028,12482,20171226,12,11710,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.70437,6943.113017,9호선2단계,4130,종합운동장,12570,6823,5747,5.5,9.53667
121027,12482,20171226,12,11710,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.70437,6943.113017,2호선,215,잠실나루,38793,19691,19102,5.5,9.53667
121040,12482,20171226,12,11710,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.70437,6943.113017,5호선,2560,거여,15566,7979,7587,5.5,9.53667
121038,12482,20171226,12,11710,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.70437,6943.113017,5호선,2557,방이,16317,8065,8252,5.5,9.53667
121041,12482,20171226,12,11710,송파구,7.6,-2.6,-23.218420,0.0,2.8,...,15384.70437,6943.113017,5호선,2561,마천,11127,5553,5574,5.5,9.53667

In [8]:
127301  * 0.4

50920.4

In [13]:
127301  * 0.7

89110.7

In [14]:
127301  * 0.9

114570.90000000001

In [15]:
127301

127301

In [17]:
cd_low = cd2.iloc[:50920,:]
cd_low

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
9402,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,2호선,203,을지로3가,18495,9285,9210,380.0,3.18556
9403,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,5호선,2536,을지로4가,6233,2811,3422,380.0,3.18556
9398,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,1호선,151,시청,27790,14081,13709,380.0,3.18556
9401,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,3호선,320,을지로3가,9837,4880,4957,380.0,3.18556
9400,400,20170805,8,11140,중구,9.1,30.1,33.125845,0.0,2.3,...,26788.04120,57349.353310,2호선,202,을지로입구,62677,31472,31205,380.0,3.18556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61003,2646,20171013,10,11440,마포구,11.2,12.6,6.290470,0.0,2.3,...,22393.09302,12428.108470,6호선,2624,상수,27248,12223,15025,177.7,4.69328
60988,2646,20171013,10,11440,마포구,11.2,12.6,6.290470,0.0,2.3,...,22393.09302,12428.108470,공항철도 1호선,4203,홍대입구,21507,10239,11268,177.7,4.69328
127179,2646,20180612,6,11740,강동구,11.2,21.9,22.969540,0.5,1.4,...,10421.45906,1642.582333,8호선,2811,암사,41284,22340,18944,445.6,3.87271
127174,2646,20180612,6,11740,강동구,11.2,21.9,22.969540,0.5,1.4,...,10421.45906,1642.582333,5호선,2550,길동,18795,9172,9623,445.6,3.87271
127175,2646,20180612,6,11740,강동구,11.2,21.9,22.969540,0.5,1.4,...,10421.45906,1642.582333,5호선,2552,명일,19966,9939,10027,445.6,3.87271

In [18]:
cd_middle = cd2.iloc[50920:89112,:]
cd_middle

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
35831,2646,20170616,6,11290,성북구,12.9,24.3,25.44637,0.0,1.6,...,20173.41214,2543.537608,6호선,2639,보문,18958,10094,8864,489.3,3.41906
35830,2646,20170616,6,11290,성북구,12.9,24.3,25.44637,0.0,1.6,...,20173.41214,2543.537608,6호선,2644,돌곶이,21356,11258,10098,489.3,3.41906
35829,2646,20170616,6,11290,성북구,12.9,24.3,25.44637,0.0,1.6,...,20173.41214,2543.537608,4호선,417,길음,63245,32250,30995,489.3,3.41906
127176,2646,20180612,6,11740,강동구,11.2,21.9,22.96954,0.5,1.4,...,10421.45906,1642.582333,5호선,2553,고덕,23236,11914,11322,445.6,3.87271
127177,2646,20180612,6,11740,강동구,11.2,21.9,22.96954,0.5,1.4,...,10421.45906,1642.582333,5호선,2554,상일동,27711,15387,12324,445.6,3.87271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89354,3759,20180504,5,11560,영등포구,10.0,15.2,12.94904,0.0,1.8,...,34407.35280,7121.737517,9호선,4113,당산,43214,22355,20859,13.4,4.83671
89362,3759,20180504,5,11560,영등포구,10.0,15.2,12.94904,0.0,1.8,...,34407.35280,7121.737517,5호선,2525,영등포시장,23852,11496,12356,13.4,4.83671
89353,3759,20180504,5,11560,영등포구,10.0,15.2,12.94904,0.0,1.8,...,34407.35280,7121.737517,2호선,237,당산,57232,27096,30136,13.4,4.83671
89352,3759,20180504,5,11560,영등포구,10.0,15.2,12.94904,0.0,1.8,...,34407.35280,7121.737517,5호선,2524,영등포구청,9289,4484,4805,13.4,4.83671
89363,3759,20180504,5,11560,영등포구,10.0,15.2,12.94904,0.0,1.8,...,34407.35280,7121.737517,5호선,2527,여의도,64054,30801,33253,13.4,4.83671

In [19]:
cd_high = cd2.iloc[89112:114571,:]
cd_high

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
89366,3759,20180504,5,11560,영등포구,10.0,15.2,12.949040,0.0,1.8,...,34407.352800,7121.737517,9호선,4112,선유도,17713,9065,8648,13.4,4.83671
89367,3759,20180504,5,11560,영등포구,10.0,15.2,12.949040,0.0,1.8,...,34407.352800,7121.737517,9호선,4114,국회의사당,44330,22179,22151,13.4,4.83671
89355,3759,20180504,5,11560,영등포구,10.0,15.2,12.949040,0.0,1.8,...,34407.352800,7121.737517,경부선,1005,대방,36700,18603,18097,13.4,4.83671
71321,3759,20171011,10,11500,강서구,8.8,15.3,9.370075,24.5,2.5,...,9975.545425,5895.913663,5호선,2512,개화산,12928,6650,6278,226.3,4.84005
89356,3759,20180504,5,11560,영등포구,10.0,15.2,12.949040,0.0,1.8,...,34407.352800,7121.737517,경부선,1006,영등포,118831,56869,61962,13.4,4.83671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120594,5183,20171125,11,11710,송파구,10.0,4.2,-1.738160,28.5,1.8,...,14899.357990,12105.284810,9호선2단계,4130,종합운동장,9087,5080,4007,5.5,4.20627
119710,5191,20170922,9,11710,송파구,11.0,20.7,22.190110,0.0,1.2,...,16528.669780,4647.498746,9호선2단계,4130,종합운동장,15260,8864,6396,497.7,4.64658
119711,5191,20170922,9,11710,송파구,11.0,20.7,22.190110,0.0,1.2,...,16528.669780,4647.498746,3호선,340,가락시장,25877,13139,12738,497.7,4.64658
62056,5191,20171218,12,11440,마포구,9.4,-0.8,-17.763920,1.5,2.6,...,22021.110570,13090.503130,2호선,241,이대,46770,22625,24145,5.5,7.37849
62061,5191,20171218,12,11440,마포구,9.4,-0.8,-17.763920,1.5,2.6,...,22021.110570,13090.503130,공항철도 1호선,4202,공덕,5273,2315,2958,5.5,7.37849

In [21]:
cd_high = cd2.iloc[114571:,:]
cd_high

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_LF,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량
119714,5191,20170922,9,11710,송파구,11.0,20.7,22.19011,0.0,1.2,...,16528.66978,4647.498746,5호선,2558,오금,9013,4463,4550,497.7,4.64658
119715,5191,20170922,9,11710,송파구,11.0,20.7,22.19011,0.0,1.2,...,16528.66978,4647.498746,3호선,342,오금,15712,8299,7413,497.7,4.64658
62062,5191,20171218,12,11440,마포구,9.4,-0.8,-17.76392,1.5,2.6,...,22021.11057,13090.503130,경의선,1263,서강대,4950,2448,2502,5.5,7.37849
119713,5191,20170922,9,11710,송파구,11.0,20.7,22.19011,0.0,1.2,...,16528.66978,4647.498746,3호선,341,경찰병원,18509,9244,9265,497.7,4.64658
62063,5191,20171218,12,11440,마포구,9.4,-0.8,-17.76392,1.5,2.6,...,22021.11057,13090.503130,5호선,2529,마포,38783,19309,19474,5.5,7.37849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121028,12482,20171226,12,11710,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,9호선2단계,4130,종합운동장,12570,6823,5747,5.5,9.53667
121027,12482,20171226,12,11710,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,2호선,215,잠실나루,38793,19691,19102,5.5,9.53667
121040,12482,20171226,12,11710,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2560,거여,15566,7979,7587,5.5,9.53667
121038,12482,20171226,12,11710,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2557,방이,16317,8065,8252,5.5,9.53667
121041,12482,20171226,12,11710,송파구,7.6,-2.6,-23.21842,0.0,2.8,...,15384.70437,6943.113017,5호선,2561,마천,11127,5553,5574,5.5,9.53667

In [27]:
cd["class"] = cd.apply(lambda x:
         0 if (x['target2'] <= 2646)
         else 1
         if (x['target2'] < 3759)
         else 2
         if (x['target2'] < 5191)
         else 3,axis = 1)

In [28]:
cd["class"].value_counts()

0    50946
1    38157
2    25464
3    12734
Name: class, dtype: int64

In [30]:
50946 + 38157 + 25464

114567

In [31]:
cd

,target2,date2,month,gu_code,gu_name,일교차,기온(°C),체감온도,강수량(mm),풍속(m/s),...,총생활인구수_TF,노선명,역ID,역명,총승객수,승차총승객수,하차총승객수,모기지수,검색량,class
0,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,19013.278340,1호선,152,종각,100401,51435,48966,1.1,7.78878,0
1,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,19013.278340,3호선,319,종로3가,22692,9942,12750,1.1,7.78878,0
2,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,19013.278340,1호선,153,종로3가,74417,38396,36021,1.1,7.78878,0
3,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,19013.278340,5호선,2535,종로3가,29135,14540,14595,1.1,7.78878,0
4,1912,20170102,1,11110,종로구,6.2,4.0,-1.026800,0.0,1.7,...,19013.278340,1호선,154,종로5가,52221,26030,26191,1.1,7.78878,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127296,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,5호선,2553,고덕,13412,6831,6581,869.9,3.15220,0
127297,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,5호선,2554,상일동,16928,9165,7763,869.9,3.15220,0
127298,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,5호선,2555,둔촌동,15543,7782,7761,869.9,3.15220,0
127299,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,8호선,2811,암사,26411,13949,12462,869.9,3.15220,0
127300,1985,20180630,6,11740,강동구,7.3,24.3,25.966885,24.0,1.3,...,1285.288808,8호선,2813,강동구청,13034,7174,5860,869.9,3.15220,0

In [33]:
cd.to_csv("data_real_sun_hol_4class.csv", encoding = 'cp949', index = False)